body {
    margin: 0px;

}

.addTaskMobil {
    position: relative;
    width: 428px;
    height: 926px;
    overflow: hidden;
    overflow-y: scroll;
    background: #F6F7F8;
    /* overflow: hidden; */
}

/* header */
.mobilHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 25px;
    gap: 232px;
    position: absolute;
    width: 378px;
    height: 39.02px;
    left: 0px;
    top: 0px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}

.mobilHeader img {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 10px;
    width: 32px;
    height: 39.02px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.mobilHeader button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 18px 10px;
    gap: 10px;
    width: 124px;
    height: 51px;
    background: #2A3647;
    border-radius: 10px;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.mobilHeader button span {
    width: 70px;
    height: 25px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 120%;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.mobilHeader button img {
    width: 24px;
    height: 24px;
    flex: none;
    order: 1;
    flex-grow: 0;
}


/* bottom menu bar */
nav {
    position: absolute;
    width: 428px;
    height: 80px;
    left: 0px;
    top: 846px;
}

.navMasterContainerMob {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    position: absolute;
    width: 428px;
    height: 80px;
    left: 0px;
    top: 0px;
    background: #2A3647;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border-radius: 0px;
}

.navContainerMob {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 10px;
    width: 75px;
    height: 80px;
    /* border-radius: 8px; */
    flex: none;
    order: 0;
    flex-grow: 0;
    cursor: pointer;
}

.navContainerMob:hover {
    background: #091931;
}

.navInnerContainerMob {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 10px;
    width: max-content;
    height: 59px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.navInnerContainerMob img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    width: 30px;
    height: 30px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.navInnerContainerMob span {
    width: fit-content;
    height: 19px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: #CDCDCD;
    flex: none;
    order: 1;
    flex-grow: 0;
}




.frame164 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 20px;

    position: absolute;
    width: 255px;
    height: 19px;
    left: 33px;
    top: 114px;
}

.frame164 h3 {
    width: 255px;
    height: 19px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: #000000;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin-block-start: 0px;
    margin-block-end: 0px;
}

.frame154 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
    gap: 20px;

    position: absolute;
    width: 214px;
    height: 56px;
    left: 33px;
    top: 152px;
}

.frame40 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 1px;
    width: 214px;
    height: 56px;
    flex: none;
    order: 0;
    flex-grow: 0;

}

.frame40 h2 {
    width: 214px;
    height: 56px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 47px;
    line-height: 120%;
    color: #000000;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin-block-start: 0px;
    margin-block-end: 0px;
}

/* add Task fomular */

.addTaskFomularMobil {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 9px;
    position: absolute;
    width: 363px;
    height: 700px;
    left: 31px;
    top: 231px;
}

.addTaskTitleMobil {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 9px;
    position: absolute;
    width: 363px;
    height: 700px;
    left: 31px;
    top: 231px;
}

.addTaskTitleMobil h3 {
    width: 65px;
    height: 19px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: #000000;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin-block-start: 0px;
    margin-block-end: 0px;
}

.addTaskTitleMobil input {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 11px 21px;
    gap: 10px;
    width: 363px;
    height: 41px;
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    flex: none;
    order: 1;
    flex-grow: 0;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: #D1D1D1;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.addTaskDescriptionMobil {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
    width: 363px;
    height: 120px;
    flex: none;
    order: 1;
    flex-grow: 0;
    position: absolute;
    left: 31px;
    top: 308px;
}

.addTaskDescriptionMobil h3 {
    width: 154px;
    height: 19px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: #000000;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin-block-start: 0px;
    margin-block-end: 0px;
}

.addTaskDescriptionMobil textarea {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 18px 21px;
    gap: 10px;
    width: 363px;
    height: 93px;
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    flex: none;
    order: 1;
    flex-grow: 0;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: #D1D1D1;
    flex: none;
    order: 0;
    flex-grow: 0;
}


.addTaskPrioMobil {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 8px;
    width: 363px;
    height: 78px;
    flex: none;
    order: 2;
    flex-grow: 0;

    position: absolute;
    top: 437px;
    left: 31px;
}

.frame28 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
    width: 353px;
    height: 78px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.frame28 h3 {
    width: 30px;
    height: 19px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: #000000;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin-block-start: 0px;
    margin-block-end: 0px;
}

