body {
    display: flex;
    justify-content: center;
}

.overlayMasterContainerMob {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 0px 35px;
    gap: 49px;
    isolation: isolate;
    position: relative;
    width: 381px;
    height: 761px;
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
}

.overlayBlackContainerMob {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 12px;
    width: 381px;
    height: 351px;
    background: #2A3647;
    flex: none;
    order: 0;
    flex-grow: 0;
    z-index: 0;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.overlayBlackContainerMob span {
    width: 289px;
    height: 56px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 47px;
    line-height: 120%;
    color: #FFFFFF;
    margin-left: 66px;
    flex: none;
    order: 0;
    flex-grow: 0;
    z-index: 0;
}

vector {
    margin-left: 66px;
    width: 90px;
    height: 0;
    border: 2px solid #29ABE2;
}

.overlayBlackContainerMob img {
    position: absolute;
    width: 21.65px;
    height: 21.65px;
    left: 340px;
    top: 26px;
    transform: rotate(45deg);
    flex: none;
    order: 2;
    flex-grow: 0;
    z-index: 2;
    cursor: pointer;
}

.userColorBatchContainerMob{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 10px;
    position: absolute;
    width: 120px;
    height: 120px;
    left: 131px;
    top: 267px;
    background: #FFFFFF;
    border: 3px solid #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border-radius: 70px;
    flex: none;
    order: 3;
    flex-grow: 0;
    z-index: 1;
}

.userColorBatchMob{
    width: 120px;
    height: 120px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.userColorBatchMob span{
    position: absolute;
    width: 80px;
    height: 28.57px;
    left: 37px;
    top: 45.71px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 120%;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    z-index: 1;
}

.userColorBatchMob div{
    position: absolute;
    width: 120px;
    height: 120px;
    left: 0px;
    top: 0px;
    border-radius: 100%;
    background: #FFC700;
}

.editContactContainerMob{
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 15px;
width: 327px;
height: 213px;
flex: none;
order: 1;
flex-grow: 0;
z-index: 1;
}

.editnameOutContainerMob{
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 8px;
width: 327px;
height: 61px;
flex: none;
order: 0;
flex-grow: 0;
}

.editNameContainerMob{
    box-sizing: border-box;
display: flex;
flex-direction: row;
align-items: center;
padding: 13px 21px;
gap: 10px;
width: 327px;
height: 41px;
background: #FFFFFF;
border: 1px solid #D1D1D1;
border-radius: 10px;
flex: none;
order: 0;
flex-grow: 0;
}

.editInputEditContainerMob{
    display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 0px;
gap: 10px;
width: 285px;
height: 25px;
flex: none;
order: 0;
flex-grow: 0;
}

.inputName{
    width: 123px;
height: 25px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 21px;
line-height: 120%;
color: #000000;
flex: none;
order: 0;
flex-grow: 0;
border: 0;
outline: none;
}

.editInputEditContainerMob img{
    width: 20px;
height: 21px;
flex: none;
order: 1;
flex-grow: 0;
}

.required{
    width: 119px;
height: 12px;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 120%;
flex: none;
order: 1;
flex-grow: 0;
}

.editButtonMob{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 18px 10px;
    gap: 10px;
    width: 71px;
    height: 51px;
    background: #2A3647;
    border-radius: 10px;
    flex: none;
    order: 2;
    flex-grow: 0;
    z-index: 2;
}

.editButtonMob span{
    width: 51px;
height: 25px;
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 21px;
line-height: 120%;
color: #FFFFFF;
flex: none;
order: 0;
flex-grow: 0;
}