.sentMassageDoneMaserContainerMob {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    position: relative;
    width: 415px;
    height: 74px;
    filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.1));
}

.sentMassageDoneContainerMob {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 17px;
    gap: 10px;
    width: 415px;
    height: 74px;
    background: #2A3647;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.sentMassageDoneContainerMob img {
    width: 41px;
    height: 41px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.sentMassageDoneContainerMob span {
    width: 330px;
    height: 28px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 120%;
    color: #FFFFFF;
    flex: none;
    order: 1;
    flex-grow: 0;
}