body {
    margin: 0;
    user-select: none;
}

.overlayAdd {
    position: relative;
    width: 1212px;
    height: 594px;
    background: #FFFFFF;
    border-radius: 30px;
}

.blackSite {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 12px;
    isolation: isolate;
    position: absolute;
    width: 463px;
    height: 594px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    left: 0px;
    top: 0px;
    background: #2A3647;
}

.blackSiteContainer {
    display: flex;
    flex-direction: column;
    padding-left: 46px;
}

.fontAddContact {
    width: 366px;
    height: 73px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 61px;
    line-height: 120%;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
    z-index: 0;
}


.vector {
    width: 90px;
    border: 3px solid #29ABE2;
    flex: none;
    order: 2;
    flex-grow: 0;
    z-index: 2;
}

.logoContainer {
    position: absolute;
    left: 9.04%;
    right: 78.05%;
    top: 27.93%;
    bottom: 62.88%;
    flex: none;
    order: 3;
    flex-grow: 0;
    z-index: 3;
}

.logo {
    height: 66.48px;
}

.close_logo {
    position: absolute;
    width: 21.65px;
    height: 21.65px;
    left: 1141.31px;
    top: 26px;
    transform: rotate(90deg);
}


.name_logo_inContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 10px;
    isolation: isolate;
    position: absolute;
    width: 120px;
    height: 120px;
    left: 533px;
    top: 204px;
    background: #FFFFFF;
    border: 3px solid #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border-radius: 70px;
}

.elypse {
    width: 120px;
    height: 120px;
    border-radius: 100%;
    background: orange;
    display: flex;
    justify-content: center;
    align-items: center;
}

.elypse span {
    position: absolute;
    width: 80px;
    height: 28.57px;
    left: 20px;
    top: 45.71px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 47px;
    line-height: 120%;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}

.buttonOutContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 0px;
    gap: 4px;
    position: absolute;
    width: 369px;
    height: 61px;
    left: 737px;
    top: 435px;
}

.buttonInContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 25px;
    width: 369px;
    height: 61px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.save {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 18px 10px;
    gap: 10px;
    width: 143px;
    height: 61px;
    background: #2A3647;
    border-radius: 10px;
    flex: none;
    order: 0;
    flex-grow: 0;
    border: 0;
}

.save:hover {
    background: #29ABE2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: 100ms ease-in-out;
}

.save span {
    width: 123px;
    height: 25px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 120%;
    text-align: center;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.createContact {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 18px 10px;
    gap: 10px;
    width: 208px;
    height: 61px;
    background: #2A3647;
    border-radius: 10px;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.createContact span {
    width: 154px;
    height: 25px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 120%;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.createContact img {
    width: 16px;
    height: 12px;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.contactContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    position: absolute;
    width: 422px;
    height: 271px;
    left: 737px;
    top: 129px;
}

.nameOutContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 60px;
    width: 422px;
    height: 71px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.nameContainer {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 13px 21px;
    gap: 16px;
    width: 422px;
    height: 51px;
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.inputContainer {
    position: relative;
    top: -3px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.inputName {
    width: 280px;
    height: 25px;
    flex: none;
    order: 0;
    flex-grow: 0;
    border: 0;
    outline: none;
    font-size: 50px;
}

.required {
    width: 119px;
    height: 12px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 120%;
    flex: none;
    color: red;
    order: 1;
    flex-grow: 0;
}

::placeholder {
    width: max-content;
    height: 25px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 120%;
    color: #000000;
    flex: none;
    order: 0;
    flex-grow: 0;
}