<div class="mainContainer">
  <div class="sideMenu">
    <img src=".\assets\img/join_logo.png" class="logo" />
    <nav>
      <table>
        <tr class="trHover" id="btn_summary_menu" onclick="initSummary()">
          <td>
            <img src=".\assets\img/img_summary.png" id="imgSummary1" /><img
              src=".\assets\img/img_summary_w.png"
              id="imgSummary2"
            />
          </td>
          <td></td>
          <td id="btn_summary_menu_text">Summary</td>
        </tr>
        <tr class="trHover" id="btn_board_menu" onclick="initBoard()">
          <td>
            <img src=".\assets\img/img_board.png" id="imgBoard1" /><img
              src=".\assets\img/img_board_w.png"
              id="imgBoard2"
            />
          </td>
          <td></td>
          <td id="btn_board_menu_text">Board</td>
        </tr>
        <tr class="trHover" id="btn_add_task_menu" onclick="initAddTask()">
          <td>
            <img src=".\assets\img/img_add_task.png" id="imgAddTask1" /><img
              src=".\assets\img/img_add_task_w.png"
              id="imgAddTask2"
            />
          </td>
          <td></td>
          <td id="btn_add_task_menu_text">Add Task</td>
        </tr>
        <tr class="trHover" id="btn_contacts_menu" onclick="initContacts()">
          <td>
            <img src=".\assets\img/img_contacts.png" id="imgContacts1" /><img
              src=".\assets\img/img_contacts_w.png"
              id="imgContacts2"
            />
          </td>
          <td></td>
          <td id="btn_contacts_menu_text">Contacts</td>
        </tr>
      </table>
    </nav>
    <nav class="legalNotice">
      <table>
        <tr id="btnLegalNotice" onclick="dataPrivacy()" title="Legal Notice">
          <td><img src="./assets/img/i.png" alt="Legal Notice" /></td>
          <td></td>
          <td>Data Privacy</td>
        </tr>
      </table>

      <table>
        <tr
          id="btnLegalNotice"
          onclick="initLegalNotice()"
          title="Legal Notice"
        >
          <td><img src="./assets/img/i.png" alt="Legal Notice" /></td>
          <td></td>
          <td>Legal notice</td>
        </tr>
      </table>
    </nav>
  </div>
  <div class="rightContainer">
    <div class="memberMenu">
      <h1>Kanban Project Management Tool</h1>
      <div id="memberInfo">
        <img src="./assets/img/question_mark.png" alt="Help" title="Help" onclick="help()"/>
        <div>
          <div id='contributorsLogoHeadder' onclick="logOutBtn()">
            <span id="contributorsLogoHeadderLetters"></span>
        </div>

        <!-- <img src="./assets/img/christina-wocintechchat-com-0Zx1bDv5BNY-unsplash 1.png" onclick="logOutBtn()"/> -->
        </div>
      </div>
    </div>
    <div class="logOut" id="logOut" onclick="logOut()">
      <img src="./assets/img/logOut.png" />
    </div>
    <div class="content" id="content"></div>
  </div>
</div>
