<div class="main-container">
    <div class="side-menu">
        <img src=".\assets\img/join_logo.png" class="logo">
        <nav>
            <table>
                <tr class="tr_hover" id="btn_summary_menu" onclick="selectedMenuButton(1)">
                    <td><img src=".\assets\img/img_summary.png" id="img_summary1"><img
                            src=".\assets\img/img_summary_w.png" id="img_summary2"></td>
                    <td></td>
                    <td id="btn_summary_menu_text">Summary</td>
                </tr>
                <tr class="tr_hover" id="btn_board_menu" onclick="selectedMenuButton(2)">
                    <td><img src=".\assets\img/img_board.png" id="img_board1"><img src=".\assets\img/img_board_w.png"
                            id="img_board2"></td>
                    <td></td>
                    <td id="btn_board_menu_text">Board</td>
                </tr>
                <tr class="tr_hover" id="btn_add_task_menu" onclick="selectedMenuButton(3)">
                    <td><img src=".\assets\img/img_add_task.png" id="img_add_task1"><img
                            src=".\assets\img/img_add_task_w.png" id="img_add_task2"></td>
                    <td></td>
                    <td id="btn_add_task_menu_text">Add Task</td>
                </tr>
                <tr class="tr_hover" id="btn_contacts_menu" onclick="selectedMenuButton(4)">
                    <td><img src=".\assets\img/img_contacts.png" id="img_contacts1"><img
                            src=".\assets\img/img_contacts_w.png" id="img_contacts2"></td>
                    <td></td>
                    <td id="btn_contacts_menu_text">Contacts</td>
                </tr>
            </table>
        </nav>
        <nav class="legal_notice">
            <table>
                <tr id="btn_legal_notice" onclick="selectedMenuButton(5)" title="Legal Notice">
                    <td><img src="./assets/img/i.png" alt="Legal Notice"></td>
                    <td></td>
                    <td>Legal notice</td>
                </tr>
            </table>
        </nav>
    </div>
    <div class="right-container">
        <div class="member-menu">
            <h1>Kanban Project Management Tool</h1>
            <div id="member-info">
                <img src="./assets/img/question_mark.png" alt="Help" title="Help">
                <img src="./assets/img/christina-wocintechchat-com-0Zx1bDv5BNY-unsplash 1.png">
            </div>
        </div>
        <div class="content" id="content">
            <h1 style="color: brown; z-index: 100;">class content</h1>class content
        </div>
    </div>
</div>