<div class="mobilMasterContainer">
	<!----------->
	<!--HEADDER-->
	<!----------->
	<header>
		<div class="headerJoinLogoMob">
			<img src="../assets/img/join_logo_black.png" alt="" />
		</div>
		<div id="contributorsLogoHeadderMob" onclick="logOutBtnMob()">
			<span id="contributorsLogoHeadderLettersMob">VB</span>
		</div>
	</header>

	<!----------->
	<!--NAV-BAR-->
	<!----------->
	<nav id="bottomMenu">
		<div class="navMasterContainerMob">
			<div class="navContainerMob" id="btn_summary_menu" onclick="initMobilSummary()">
				<div class="navInnerContainerMob">
					<!-- <img src="../assets/img/img_summary_w.png" alt=""> -->
					<img src=".\assets\img/img_summary.png" id="imgSummary1" /><img
						src=".\assets\img/img_summary_w.png"
						id="imgSummary2"
					/>
					<span id="btn_summary_menu_text">Summary</span>
				</div>
			</div>
			<div class="navContainerMob" id="btn_board_menu" onclick="initMobilBoard()">
				<div class="navInnerContainerMob">
					<!-- <img src="../assets/img/img_board_w.png" alt=""> -->
					<img src=".\assets\img/img_board.png" id="imgBoard1" /><img
						src=".\assets\img/img_board_w.png"
						id="imgBoard2"
					/>
					<span id="btn_board_menu_text">Board</span>
				</div>
			</div>
			<div class="navContainerMob" id="btn_add_task_menu" onclick="initMobilAddTask()">
				<div class="navInnerContainerMob">
					<!-- <img src="../assets/img/img_add_task_w.png" alt=""> -->
					<img src=".\assets\img/img_add_task.png" id="imgAddTask1" /><img
						src=".\assets\img/img_add_task_w.png"
						id="imgAddTask2"
					/>
					<span id="btn_add_task_menu_text">Add Task</span>
				</div>
			</div>
			<div class="navContainerMob" id="btn_contacts_menu" onclick="initMobilContacts()">
				<div class="navInnerContainerMob">
					<!-- <img src="../assets/img/img_contacts_w.png" alt=""> -->
					<img src=".\assets\img/img_contacts.png" id="imgContacts1" /><img
						src=".\assets\img/img_contacts_w.png"
						id="imgContacts2"
					/>
					<span id="btn_contacts_menu_text">Contacts</span>
				</div>
			</div>
		</div>
	</nav>
	<!----------------------------------------------------------------->
	<div class="mobileContent" id="mobilContent"></div>
	<div class="logOutMasterContainer d-none" id="logOutMasterContainer"></div>
	<div class="greetingMasterContainer" id="greetingMasterContainer"></div>
	<!-- mobile Content -->
	<!----------->
	<!--NAV-BAR-->
	<!----------->
	<!-- <nav>
		<div class="navMasterContainerMob" id="navMasterContainerMob">
			<div class="navContainerMob" id="btn_summary_menu" onclick="initMobilSummary()">
				<div class="navInnerContainerMob">
					
					<img src=".\assets\img/img_summary.png" id="imgSummary1" /><img
						src=".\assets\img/img_summary_w.png"
						id="imgSummary2"
					/>
					<span id="btn_summary_menu_text">Summary</span>
				</div>
			</div>
			<div class="navContainerMob" id="btn_board_menu" onclick="initMobilBoard()">
				<div class="navInnerContainerMob">
					
					<img src=".\assets\img/img_board.png" id="imgBoard1" /><img
						src=".\assets\img/img_board_w.png"
						id="imgBoard2"
					/>
					<span id="btn_board_menu_text">Board</span>
				</div>
			</div>
			<div class="navContainerMob" id="btn_add_task_menu" onclick="initMobilAddTask()">
				<div class="navInnerContainerMob">
					
					<img src=".\assets\img/img_add_task.png" id="imgAddTask1" /><img
						src=".\assets\img/img_add_task_w.png"
						id="imgAddTask2"
					/>
					<span id="btn_add_task_menu_text">Add Task</span>
				</div>
			</div>
			<div class="navContainerMob" id="btn_contacts_menu" onclick="initMobilContacts()">
				<div class="navInnerContainerMob">
					
					<img src=".\assets\img/img_contacts.png" id="imgContacts1" /><img
						src=".\assets\img/img_contacts_w.png"
						id="imgContacts2"
					/>
					<span id="btn_contacts_menu_text">Contacts</span>
				</div>
			</div>
		</div>
	</nav> -->
	<!----------------------------------------------------------------->
	<!-- <div class="mobileContent" id="mobilContent"></div>
	<div class="logOutMasterContainer d-none" id="logOutMasterContainer"></div> -->

	<!-- mobile Content -->
</div>
