<div class="signUp">

    <div class="joinLogo">
        <img src="./assets/img/join_logo_black.png">
    </div>

    <div class="signUpContainer">
        <div class="signUpHeadline">
            <span>Sign up</span>
            <div></div>
        </div>

        <div class="inputContainer">
            <div class="outContainer">
                <div class="container">
                    <div class="innerContainer">
                        <span>Name</span>
                        <img src="./assets/img/name_logo.png">
                    </div>
                </div>
                <span class="required">This field is required</span>
            </div>
            <div class="outContainer">
                <div class="container">
                    <div class="innerContainer">
                        <span>Email</span>
                        <img src="./assets/img/email_Logo.png">
                    </div>
                </div>
                <span class="required">This field is required</span>
            </div>
            <div class="outContainer">
                <div class="container">
                    <div class="innerContainer">
                        <span>Password</span>
                        <img src="./assets/img/password_logo.png">
                    </div>
                </div>
                <span class="required">This field is required</span>
            </div>
        </div>

        <button class="buttonContainer">
            <span>Sign up</span>
        </button>

        <div class="arrowContainer">
            <img src="./assets/img/back_logo.png">
        </div>

    </div>
    
</div>
