.addTaskHeadlineDiv {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 1px;
    position: absolute;
    width: 466px;
    height: 78px;
    left: 355px;
    top: 171px;
}

.addTHeadline {
    width: 466px;
    height: 78px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 61px;
    line-height: 120%;
    color: #000000;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin-block-start: 0px;
    margin-block-end: 0px;
}

.addTaskBtnOuterContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 0px;
    gap: 4px;
    position: absolute;
    width: 338px;
    height: 61px;
    left: 984px;
    top: 889px;
}

.addTaskBtnInnerContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 25px;
    width: 338px;
    height: 61px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.addTaskClear {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 18px 10px;
    gap: 10px;
    width: 136px;
    height: 61px;
    border: 1px solid #2A3647;
    border-radius: 10px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.addTaskCreate {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 18px 10px;
    gap: 10px;
    width: 177px;
    height: 61px;
    background: #2A3647;
    border-radius: 10px;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.addTaskClear span {
    width: 53px;
    height: 25px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 120%;
    color: #2A3647;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.addTaskCreate span {
    width: 123px;
    height: 25px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 120%;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
}

/* .addTaskClearImgContainer {
    
    width: 24px;
    height: 24px;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.addTaskCreateImgContainer {
    
    width: 24px;
    height: 24px;
    flex: none;
    order: 1;
    flex-grow: 0;
} */


/* .addTaskClear img {
    position: absolute;
    left: 28.16%;
    right: 28.15%;
    top: 28.15%;
    bottom: 28.15%;

    border: 2px solid #2A3647;
}

.addTaskCreate img {
    position: absolute;
    left: 16.67%;
    right: 16.67%;
    top: 25%;
    bottom: 25%;

    border: 2px solid #FFFFFF;
} */

.addTaskAddTitleContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 14px;

    position: absolute;
    width: 422px;
    height: 506px;
    left: 355px;
    top: 290px;
}

.addTaskAddTitleBox {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
    width: 422px;
    height: 104px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.addTaskAddTitleBox h3 {
    width: 65px;
    height: 25px;

    /* Version 2/t6 */

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 120%;
    /* or 25px */


    color: #000000;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-block-start: 0px;
    margin-block-end: 0px;
}

.addTaskAddTitleBox input {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 13px 21px;
    gap: 10px;
    width: 422px;
    height: 51px;
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.addTaskAddTitleContainer span {
    width: 119px;
    height: 12px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 120%;
    flex: none;
    order: 2;
    flex-grow: 0;
    color: #FBBBC4;
}

.addTaskAddDescriptenBox {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
    width: 422px;
    height: 172px;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.addTaskAddDescriptenBox h3 {
    width: 154px;
    height: 25px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 120%;
    color: #000000;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin-block-start: 0px;
    margin-block-end: 0px;
}

/* .addTaskAddDescriptenBox input {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 18px 21px;
    gap: 10px;
    isolation: isolate;
    width: 422px;
    height: 119px;
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    flex: none;
    order: 1;
    flex-grow: 0;
} */

.addTaskAddDescriptenBox textarea {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 18px 21px;
    gap: 10px;
    isolation: isolate;
    width: 422px;
    height: 119px;
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    flex: none;
    order: 1;
    flex-grow: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 120%;
    color: #D1D1D1;
}

.addTaskAddCategoryBox {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
    width: 422px;
    height: 104px;
    flex: none;
    order: 2;
    flex-grow: 0;
}

.addTaskAddCategoryBox h3 {
    width: 93px;
    height: 25px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 120%;
    color: #000000;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin-block-start: 0px;
    margin-block-end: 0px;
}

.addTaskAddCategoryBox button {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 18px 21px;
    gap: 10px;
    isolation: isolate;
    width: 422px;
    height: 51px;
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.addTaskAddCategoryBox button span {
    width: 100%;
    height: 25px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 120%;
    color: #000000;
    flex: none;
    order: 0;
    flex-grow: 0;
    z-index: 0;
    text-align: left;
}

.addTaskAddCategoryBox button input {
    width: 205px;
    height: 25px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 120%;
    color: #000000;
    flex: none;
    order: 0;
    flex-grow: 0;
    z-index: 0;
    text-align: left;
    border: none;
}

.addTaskAddCategoryBox button img {
    position: absolute;
    width: 16px;
    height: 8px;
    left: 392px;
    flex: none;
    order: 1;
    flex-grow: 0;
    z-index: 1;
}

.addTaskCatList {
    background: #FFFFFF;
    border-top: 0px;
    border-bottom: 1px;
    border-left: 1px;
    border-right: 1px;
    border-color: #D1D1D1;
    border-style: solid;
    width: 420px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-top: -13px;
    z-index: 1;
    list-style-type: none;
    padding: 0;
}

.listD-none {
    display: none !important;
}

.addMarginTop {
    margin-top: 75.57px;
}

.addTaskCatList li {
    padding-left: 20px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 120%;
    color: #000000;
    flex: none;
    order: 0;
    flex-grow: 0;
    z-index: 0;
}

.addTaskCatList li:hover {
    background-color: #D1D1D1;
    background-size: 100%;
}

.addTaskAddCategoryColor {
    width: 402px;
    height: 20px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 120%;
    flex: none;
    order: 2;
    flex-grow: 0;
    padding-left: 20px;
    display: flex;
    gap: 24px;
}

.addTaskAddCategoryColor div {
    height: 12px;
    width: 12px;
    border-radius: 100%;
    border: 1px solid #D1D1D1;
}

.color1 {
    background-color: #8AA4FF;
}

.color2 {
    background-color: #FF0000;
}

.color3 {
    background-color: #2AD300;
}

.color4 {
    background-color: #FF8A00;
}

.color5 {
    background-color: #E200BE;
}

.color6 {
    background-color: #0038FF;
}

.addTaskAssignedBox {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
    width: 422px;
    height: 84px;
    flex: none;
    order: 3;
    flex-grow: 0;
}

.addTaskAssignedBox h3 {
    width: 118px;
    height: 25px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 120%;
    color: #000000;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin-block-start: 0px;
    margin-block-end: 0px;
}

.addTaskAssignedBox button {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 18px 21px;
    gap: 10px;
    isolation: isolate;
    width: 422px;
    height: 51px;
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.addTaskAssignedBox button span {
    width: 100%;
    height: 25px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 120%;
    color: #000000;
    flex: none;
    order: 0;
    flex-grow: 0;
    z-index: 0;
    text-align: left;
}

.addTaskAssignedBox button img {
    position: absolute;
    width: 16px;
    height: 8px;
    left: 392px;
    flex: none;
    order: 1;
    flex-grow: 0;
    z-index: 1;
}

.addTaskAssignList {
    background: #FFFFFF;
    border-top: 0px;
    border-bottom: 1px;
    border-left: 1px;
    border-right: 1px;
    border-color: #D1D1D1;
    border-style: solid;
    width: 420px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-top: -13px;
    z-index: 1;
    list-style-type: none;
    padding: 0;
}

.addTaskAssignList li {
    padding-left: 20px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 120%;
    color: #000000;
    flex: none;
    order: 0;
    flex-grow: 0;
    z-index: 0;
}

.addTaskAssignList li:hover {
    background-color: #D1D1D1;
    background-size: 100%;
}

.addTaskDivider {
    position: absolute;
    width: 0px;
    height: 551px;
    left: 836px;
    top: 290px;
    border: 1px solid #D1D1D1
}

.addTaskRightContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 0px;
    gap: 14px;
    position: absolute;
    width: 422px;
    height: 356px;
    left: 895px;
    top: 290px;
}

.addTaskDate {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 14px;
    width: 422px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.addTaskDate h3 {
    width: 91px;
    height: 25px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 120%;
    color: #000000;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin-block-start: 0px;
    margin-block-end: 0px;
}

.addTaskDate input {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 18px 21px;
    gap: 10px;
    isolation: isolate;
    width: 422px;
    height: 51px;
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    flex: none;
    order: 1;
    flex-grow: 0;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 120%;
    color: #D1D1D1;
}

.addTaskDate span {
    width: 119px;
    height: 12px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 120%;
    flex: none;
    order: 2;
    flex-grow: 0;
    color: #FBBBC4;
}

.addTaskPrio {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
    width: 422px;
    height: 113px;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.addTaskPrio h3 {
    width: 39px;
    height: 25px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 120%;
    color: #000000;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin-block-start: 0px;
    margin-block-end: 0px;
}


.prio {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 10px;
    width: 422px;
    height: 61px;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.addTaskUrgent {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 18px 10px;
    gap: 10px;
    width: 116px;
    height: 15px;
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.addTaskUrgent span {
    width: 68px;
    height: 25px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 120%;
    color: #000000;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.addTaskUrgent img {
    width: 20px;
    height: 14.51px;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.addTaskMedium {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 18px 10px;
    gap: 10px;
    width: 110px;
    height: 15px;
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.addTaskMedium span {
    width: 80px;
    height: 25px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 120%;
    color: #000000;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.addTaskMedium img {
    width: 20px;
    height: 7.45px;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.addTaskLow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 18px 10px;
    gap: 10px;
    width: 116px;
    height: 15px;
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    flex: none;
    order: 2;
    flex-grow: 0;
}

.addTaskLow span {
    width: 42px;
    height: 25px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 120%;
    color: #000000;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.addTaskLow img {
    width: 20px;
    height: 14.51px;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.subtask {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
    width: 422px;
    height: 111px;
    flex: none;
    order: 2;
    flex-grow: 0;
}

.subtask h3 {
    width: 92px;
    height: 25px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 120%;
    color: #000000;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin-block-start: 0px;
    margin-block-end: 0px;
}

.subtask input {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 18px 21px;
    gap: 10px;
    isolation: isolate;
    width: 422px;
    height: 51px;
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.subtask img {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 9px;
    position: absolute;
    width: 24px;
    height: 24px;
    left: 381px;
    top: 14px;
    flex: none;
    order: 1;
    flex-grow: 0;
    z-index: 1;
}

.subtask div {
    position: relative;
}

.addTaskCheckbox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 20px;
    width: 110px;
    height: 19px;
    flex: none;
    order: 2;
    flex-grow: 0;
}

.addTaskCheckbox input {
    width: 16px;
    height: 16px;
    border-radius: 3px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.addTaskCheckbox span {
    width: 74px;
    height: 19px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: #000000;
    flex: none;
    order: 1;
    flex-grow: 0;
}