.headlineContainerBoardMob {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
    gap: 20px;
    position: absolute;
    width: 237px;
    height: 56px;
    left: 33px;
    top: 152px;
}

.boardSearchMobilOuterContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 35px;
    position: absolute;
    width: 363px;
    height: 41px;
    left: 33px;
    top: 238px;
}

.boardsearchmobilmidcontainer {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 13px 21px;
    gap: 10px;
    width: 251px;
    height: 41px;
    background: #FFFFFF;
    border: 1px solid #A8A8A8;
    border-radius: 10px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.boardsearchmobilinnerContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    gap: 10px;
    width: 226px;
    height: 31px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.boardSearchMobilInput {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 13px;
    width: 167px;
    height: 19px;
    flex: none;
    order: 0;
    flex-grow: 0;
    border: 0px;
    outline: none;
    cursor: pointer;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
}

.lupeContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 15px;
    width: 43px;
    height: 31px;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.addTaskPlusHeader {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* padding: 3px; */
    gap: 10px;
    position: absolute;
    width: 40px;
    height: 40px;
    left: 359px;
    top: 169px;
    background: #2A3647;
    border-radius: 10px;
    background-image: url('../assets/img/plus_add_task_mobile.png');
}

.addTaskPlusHeader:hover {
    background-image: url('../assets/img/plus_add_task_mobile_blue.png');
    cursor: pointer;
}


.boardTaskCardOuterContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 26px;
    position: absolute;
    width: 363px;
    height: 550px;
    left: 33px;
    top: 298px;
    overflow-y: scroll;
}

.toDoOuterContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 20px;
    width: 363px;
    /* height: 293px; */
    flex: none;
    order: 0;
    flex-grow: 0;
    /* margin-bottom: 400px; */
}

.toDoHeadline {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    gap: 35px;
    width: 363px;
    height: 30px;
    flex: none;
    order: 0;
    flex-grow: 0;
    position: sticky;
    top: 0px;
    background-color: #F6F7F8;
}

.toDoHeadline span {
    /* width: 57px; */
    height: 25px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 120%;
    color: #2A3647;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.headlinePlusBtn {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 3px;
    gap: 10px;
    width: 30px;
    height: 30px;
    /* border: 2px solid #2A3647; */
    border-radius: 10px;
    flex: none;
    order: 1;
    flex-grow: 0;
    background-image: url('../assets/img/headline_plus.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.headlinePlusBtn:hover {
    background-image: url('../assets/img/headline_plus_blue.png');
    cursor: pointer;
}

.taskBackgroundMobil {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 18px 19px;
    gap: 10px;
    width: 363px;
    height: 243px;
    background: #FFFFFF;
    box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
    border-radius: 30px;
    margin-top: 8px;
    flex: none;
    order: 1;
    flex-grow: 0;
    cursor: pointer;
}


.taskContainerMobil {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 15px;
    width: 322px;
    height: 207px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.boardTaskCategoryMobil {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4px 25px;
    gap: 10px;
    min-width: 103px;
    height: 27px;
    border-radius: 8px;
    flex: none;
    order: 0;
    flex-grow: 0;
    box-sizing: border-box;
}


.boardTaskCategoryMobil span {
    width: max-content;
    height: 19px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.taskHeadlineMobil {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 20px;
    width: 322px;
    height: 86px;
    border-radius: 10px;
    flex: none;
    order: 1;
    flex-grow: 0;
}


.taskHeadlineContentMobil {
    width: 100%;
    height: 19px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 120%;
    color: #2A3647;
    flex: none;
    order: 0;
    flex-grow: 0;
    overflow: hidden;
}

.taskContentMobil {
    width: 207px;
    height: 38px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: #A8A8A8;
    flex: none;
    order: 1;
    flex-grow: 0;
    overflow: hidden;
}

.doneBarMobil {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 20px;
    width: 322px;
    height: 14px;
    flex: none;
    order: 2;
    flex-grow: 0;
}

.doneBarOuterMobil {
    width: 251px;
    height: 8px;
    border-radius: 2px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.doneBarMobil span {
    width: 54px;
    height: 14px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 120%;
    color: #000000;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.contributorsPrioMobil {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    gap: 102px;
    width: 322px;
    height: 35px;
    flex: none;
    order: 3;
    flex-grow: 0;
}

.contributorsLogoContainerMobil {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    width: 93px;
    height: 35px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.contributorsLogo {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 8px;
    gap: 10px;
    width: 35px;
    height: 35px;
    border: 1px solid #FFFFFF;
    border-radius: 58px;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px -6px;
}


.contributorsLogo span {
    width: 15px;
    height: 14px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 120%;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.blue {
    background: #0190E0;
}

.pink {
    background: #EE00D6;
}

.litegreen {
    background: #02CF2F;
}

.yellow {
    background: #FFA800;
}

.lila {
    background: #9327FF;
}

.black {
    background: #2A3647;
}

.orange {
    background: #FF5C00;
}

.green {
    background: #4E963D;
}

.liteblue {
    background: #32DAFF;
}

.prioMobil {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 18px;
    gap: 10px;
    width: 32px;
    height: 32px;
    background: #FFFFFF;
    border-radius: 10px;
    flex: none;
    order: 1;
    flex-grow: 0;
    box-sizing: border-box;
}

.prioMobil img {
    width: 17px;
    height: 12px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

/* Add Task Overlay */

.boardAddTask {
    display: flex;
    position: absolute;
    background-color: #F6F7F8;
    z-index: 2;
    /* min-height: 100vh; */
    width: 100%;
    height: 878px;
    overflow: hidden;

}

.frame154Over {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
    gap: 20px;

    position: absolute;
    width: 214px;
    height: 56px;
    left: 34px;
    top: 118px;
}

.scrollOver {
    overflow: hidden;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 9px;
    position: absolute;
    width: 363px;
    height: 700px;
    left: 32px;
    top: 197px;
}

.closeAddTask {
    background-image: url(../assets/img/close_board_add_task.png);
    background-position: center;
    background-size: cover;
    /* z-index: 3; */
    position: absolute;
    width: 21.65px;
    height: 21.65px;
    left: 380px;
    top: 118px;
    /* transform: rotate(45deg); */
    cursor: pointer;
}

.closeAddTask:hover {
    background-image: url(../assets/img/close_logo_blue.png);
    transition: 100ms ease-in-out;
}


/* Card Detail View */

.boardTaskDetail {
    position: relative;
    width: 428px;
    height: 766px;
    overflow-y: scroll;
    overflow: hidden;
    background: #F6F7F8;
    margin-top: 80px;
    margin-bottom: 80px;
}

.taskCardPopupCategoryMob {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 4px 36.5px;
    gap: 10px;
    position: absolute;
    max-width: 366px;
    height: 33px;
    left: 33px;
    top: 60px;
    background: #FC71FF;
    border-radius: 8px;
    box-sizing: border-box;
}

.taskCardPopupCategoryMob span {
    /* width: 54px; */
    height: 25px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 120%;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.backArrow {
    position: absolute;
    width: 24px;
    height: 24px;
    left: 374px;
    top: 61px;
    cursor: pointer;
}

.taskCardPopupTaskMob {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px 7px 0px 0px;
    gap: 1px;
    position: absolute;
    width: 363px;
    height: 86px;
    left: 33px;
    top: 125px;
}

.taskCardPopupTaskMob span {
    width: 100%;
    height: 86px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 120%;
    color: #2A3647;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.taskCardPopupDescriptionMob {
    position: absolute;
    width: 363px;
    height: 38px;
    left: 33px;
    top: 236px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: #000000;
    overflow: hidden;
    overflow-y: scroll;
}

.taskCardPopupDateContainerMob {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 25px;
    position: absolute;
    width: 193px;
    height: 19px;
    left: 33px;
    top: 299px;
}

.taskCardPopupDateTextMob {
    width: 75px;
    height: 19px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 120%;
    color: #000000;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.taskCardPopupDueDateMob {
    width: 93px;
    height: 19px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: #000000;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.taskCardPopupPriorityContainerMob {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 25px;
    position: absolute;
    width: 203px;
    height: 27px;
    left: 33px;
    top: 349px;
}

.taskCardPopupPriorityContainerMob span {
    width: 63px;
    height: 19px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 120%;
    color: #000000;
}

.urgencyMob {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px 18px;
    gap: 10px;
    width: 115px;
    height: 27px;
    background: #FF3D00;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.urgencyMob span {
    /* width: 52px; */
    height: 19px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.urgencyMob img {
    width: 17px;
    height: 12px;
    /* transform: rotate(-180deg); */
    flex: none;
    order: 1;
    flex-grow: 0;
}

.assignedMob {
    position: absolute;
    width: 102px;
    height: 19px;
    left: 33px;
    top: 401px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 120%;
    color: #000000;
}

.membersMob {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 10px;

    position: absolute;
    /* width: 193px;
    height: 45px; */
    left: 33px;
    top: 451px;
}

.membersMob div {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 8px;
    gap: 10px;
    width: 45px;
    height: 45px;
    /* background: #9327FF; */
    border: 2px solid #FFFFFF;
    border-radius: 58px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.editButtonMob {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 6px;
    position: absolute;
    width: 40px;
    height: 40px;
    left: 284px;
    /* left: 366px; */  /*wenn das irgendwo nicht passt, bitte basti bescheid geben*/
    top: 685px;
    background: #2A3647;
    border-radius: 10px;
    cursor: pointer;
    z-index: 1;
}

.moveBtnMobil{
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    align-items: center;
    padding: 0px;
    gap: 16px;
    position: relative;
    width: 351px;
    height: 40px;
    left: 33px;
    top: 685px;
    /* background: #2A3647; */
    border-radius: 10px;
    /* cursor: pointer; */
    z-index: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    /* color: white; */
}

.moveBtnMobil button{
    border-radius: 10px;
    /* display: flex;
    align-items: center; */
    width: 150px;
    height: 40px;
    padding: 5px 5px;
    box-sizing: border-box;
    background-color: #2A3647;
    color: white;
    cursor: pointer;
}

.moveBtnMobil button:hover{
    color:#0190E0;
    /* opacity: 0.8; */
}

/* .previousWorkstatusImg{
    transform: rotate(0deg);
    background-image: url('../assets/img/back_logo_black.png');
    background-position: center;
    background-size: 25px 25px;
    background-repeat: no-repeat;
    width: 100%;
    height: 25px;
    margin-top: 5px;
}

.nextWorkstatusImg{
    transform: rotate(-180deg);
    background-image: url('../assets/img/back_logo_black.png');
    background-position: center;
    background-size: 25px 25px;
    background-repeat: no-repeat;
    width: 100%;
    height: 25px;
    margin-top: 5px;
}

.previousWorkstatusImg:hover{
    background-image: url('../assets/img/back_logo.png');
    transition: 100ms ease-in-out;
    cursor: pointer;
}

.nextWorkstatusImg:hover{
    background-image: url('../assets/img/back_logo.png');
    transition: 100ms ease-in-out;
    cursor: pointer;
} */


.boardSubtasksTitleDivMob{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    /* gap: 25px; */
    width: 231px;
    height: 45px;
    flex: none;
    order: 6;
    flex-grow: 0;
    z-index: 6;
    position: absolute;
    left: 33px;
    top: 510px;
}

.boardSubtasksDivMob{
    display: flex;
    flex-direction: column;
    padding: 0px;
    gap: 25px;
    width: 362px;
    height: 115px;
    order: 6;
    flex-grow: 0;
    z-index: 6;
    position: absolute;
    left: 33px;
    top: 560px;
    overflow: hidden;
    overflow-y: scroll;
}

.boardSubtasksDivMob div span{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    color: #000000;
}

.boardSubtaskTitleMob{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: #000000;
}




.shortcut {
    width: 22px;
    height: 19px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
}

/* Edit Function */

.scrollOverEdit{
    overflow: hidden;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 9px;
    position: absolute;
    width: 363px;
    height: 700px;
    left: 32px;
    top: 55px;
}


#boardEditDueDate {
    width: -webkit-fill-available;
    height: 19px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: #D1D1D1;
    flex: none;
    flex-grow: 0;
    z-index: 0;
    border: 0;
    outline: none;
    cursor: pointer;
}

.editTaskOkBtnMob {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 18px 10px;
    gap: 10px;

    position: absolute;
    width: 83px;
    height: 61px;
    /* left: 282px;
    top: 678px; */
    left: 280px;
    top: 560px;

    background: #2A3647;
    border-radius: 10px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 120%;
    /* or 25px */
    color: #FFFFFF;
    border: 0;
    cursor: pointer;
}

.editTaskOkBtnMob:hover{
    background: #29ABE2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    /* border-color: #29ABE2; */
    border-width: 0px;
}

/* Delete Button edited by Bossi  */
.deleteButton{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 18px 10px;
    gap: 10px;
    position: absolute;
    height: 61px;
    left: 242px;
    /* top: 746px; */
    top: 629px;
    background: #2A3647;
    border-radius: 10px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 120%;
    /* or 25px */
    color: #FFFFFF;
    border: 0;
    cursor: pointer;
}
/* deleteButton:hover edit by Basti*/
.deleteButton:hover{
    background: #29ABE2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;  
    border-width: 0px;
}


.boardMobilDateSetting{
    order: 2 !important;
}

.boardMobilPrioSetting{
    order: 3 !important;
}

/* .boardAddTaskPrioMobil {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 8px;
    width: 363px;
    height: 78px;
    flex: none;
    order: 3;
    flex-grow: 0;
}

.boardAddTaskDateMob {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
    width: 363px;
    flex: none;
    order: 2;
    flex-grow: 0;
}



.boardAddTaskDateMob h3 {
    width: 69px;
    height: 19px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: #000000;
    margin: 0;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.boardAddTaskDateMob div {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 18px 21px;
    gap: 10px;
    isolation: isolate;
    width: 363px;
    height: 41px;
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.boardFrame28 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
    width: 353px;
    height: 78px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.frame28 h3 {
    font-size: 21px;
} */

.taskCreatedIndication {
	transform: translateY(-500px);
	transition-delay: 900ms;
	transition-duration: 300ms;
	transition: transform 100ms ease-in-out;
}

.taskAddedToBoardContainer {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 0px;
	width: 326px;
	height: 74px;
	background: #2a3647;
	box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
	border-radius: 20px;
	flex: none;
	order: 0;
	flex-grow: 0;
}

.taskAddedToBoardContainer span {
	width: 235px;
	height: 24px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 21px;
	line-height: 120%;
	color: #ffffff;
	flex: none;
	order: 0;
	flex-grow: 0;
}

.taskAddedToBoardContainer img {
	width: 22px;
	height: 26px;
	transform: rotate(-90deg);
	flex: none;
	order: 1;
	flex-grow: 0;
}

#boardEditDueDate{
    width: -webkit-fill-available;
    height: 19px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: #000000;
    flex: none;
    flex-grow: 0;
    z-index: 0;
    border: 0;
    outline: none;
    cursor: pointer;
}


@media screen and (max-width: 768px) {
    .boardTaskCardOuterContainer{
        width: 100%;
        /* height: calc(100% - 463px); */
        height: calc(100% - 382px);
        left: 0;
    }

    .toDoHeadline{
        width: 401px;
    }

    .headlineContainerBoardMob{
        left: calc(50% - 200.5px);
    }

    .addTaskPlusHeader{
        left: calc(50% + 160.5px);
    }

    .boardSearchMobilOuterContainer{
        left: calc(50% - 200.5px);
    }

    .boardAddTask{
        height: 100%;
    }

    .scrollOver{
        width: calc(100% - 66px);
        height: calc(100% - 296px);
    }

    .closeAddTask{
        left: calc(100% - 51.65px);
    }

    .boardTaskDetail{
        width: 100%;
        height: calc(100% - 160px);
    }

    .backArrow{
        z-index: 2;
    }

    .boardTaskCardPopup{
        display: flex;
        width: 100%;
        justify-content: center;
        height: 100%;
    }

    .scrollOverEdit{
        left: unset;
        height: calc(100% - 160px);
        width: 402px;
    }

    .editButtonMob{
        left: 358px;
    }

    .moveBtnMobil{
        gap: 13px;
        width: 320px;
    }
}


@media screen and (max-width: 450px){
    .toDoHeadline{
        width: calc(100% - 35px);
    }

    .taskBackgroundMobil{
        width: calc(100% - 75px);
        margin-left: 17px;
    }

    .taskContainerMobil{
        width: calc(100% - 79px);
    }

    .taskHeadlineMobil{
        width: 100%;
    }

    .doneBarMobil{
        width: 207px;
    }

    .doneBarOuterMobil{
        width: 150px;
    }

    .contributorsPrioMobil{
        width: 100%;
        gap: 93px;
    }

    .headlineContainerBoardMob,
    .boardSearchMobilOuterContainer{
        left: 24.5px;
    }

    .addTaskPlusHeader {
        left: calc(50% + 116.5px);
    }

    #toDoDiv,
    #progressDiv,
    #awaitingDiv,
    #doneDiv{
        width: 100%;
    }

    

    

}