.d-none {
    display: none !important;
}

.Frame_97 {
    position: absolute;
    width: 453px;
    height: 935px;
    left: 232px;
    top: 89px;
    background: #FFFFFF;
    box-shadow: 4px 0px 6px rgba(0, 0, 0, 0.08);
}

.Contact_list {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    position: absolute;
    width: 357px;
    height: 933px;
    left: 48px;
    top: 2px;
    background: #FFFFFF;
    overflow: scroll;
    overflow-x: hidden;
}

.letters {
    width: 282px;
    height: 40px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 120%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.letters span {
    margin-bottom: 8px;
}

.Vector_10 {
    width: 323px;
    height: 0px;
    border: 1px solid #D1D1D1;
    border-radius: 3px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.contact {
    margin: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px 25px;
    gap: 35px;
    width: 357px;
    height: 79px;
    background: #FFFFFF;
    border-radius: 10px;
    flex: none;
    order: 2;
    flex-grow: 0;
}

.contact:hover {
    background: lightgray;
    cursor: pointer;
}

/*.contact:hover span {
    color: #FFFFFF;
}*/

.ellipse {
    margin-left: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    position: absolute;
    width: 42px;
    height: 42px;
    border: 1px solid #FFFFFF;
    border-radius: 100%;
}

.ellipse span {
    height: 10px;
    width: 28px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 120%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: #FFFFFF;
}

.name_and_email {
    margin-left: 102px;
    display: flex;
    justify-content: start;
    flex-direction: column;
}

.name {
    width: fit-content;
    height: 25px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 120%;
    display: flex;
    align-items: center;
    color: #000000;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.email {
    width: 140px;
    height: 19px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    display: flex;
    align-items: center;
    color: #007CEE;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.better_with_a_team {
    position: absolute;
    top: 171px;
    left: 743px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

.better_with_a_team h1 {
    margin: 16px;
    width: 274px;
    height: 73px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 61px;
    line-height: 120%;
    color: #000000;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-block-start: 0px;
    margin-block-end: 0px;
}

.better_with_a_team span {
    margin: 16px;
    width: 235px;
    height: 32px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 120%;
    color: #2A3647;
    flex: none;
    order: 2;
    flex-grow: 0;
    width: 236px;
}

.vector_5 {
    width: 0px;
    height: 59px;
    border: 3px solid #29ABE2;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.new_contact {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 18px 10px;
    gap: 10px;
    position: absolute;
    width: 193px;
    height: 53px;
    left: 1195px;
    top: 904px;
    background: #2A3647;
    border: 1px solid #2A3647;
    border-radius: 10px;
}

.new_contact span {
    font-family: 'Inter';
    font-size: 21px;
    color: white;

}

.new_contact:hover {
    background: #29ABE2;
    border: 1px solid #29ABE2;
    border-radius: 10px;
}

.new_contact img {
    width: 33px;
    height: 29.71px;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.add_contact {
    position: absolute;
    top: 300px;
    left: 0px;
    right: 0px;
    margin-left: auto;
    margin-right: auto;
    width: 1212px;
    height: 594px;
    background: #FFFFFF;
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    box-shadow: 6px 6px 6px 6px rgba(0, 0, 0, 0.08);
    z-index: 1;
}

.add_contact_left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 66px 46px;
    gap: 12px;
    isolation: isolate;
    border-radius: 30px 0 0 30px;
    width: 276.24px;
    background: #2A3647;
}

.new_contact:hover {
    background: #29ABE2;

}

.add_contact_left img {
    width: 55.12px;
    height: 66.48px;
}

.add_contact_left h1 {
    font-family: 'Inter';
    font-size: 29px;
    margin-block-start: 0px;
    margin-block-end: 0px;
    color: white;
}

.add_contact_left span {
    font-family: 'Inter';
    font-size: 13px;
    color: white;
}

.add_contact_vector_5 {
    width: 90px;
    height: 0;
    border: 3px solid #29ABE2;
    flex: none;
    order: 2;
    flex-grow: 0;
    z-index: 2;
}

.add_contact_right {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.add_contact_right img {
    height: 120px;
    width: 120px;
    margin: 70px;
}

.add_contact_inputs {
    display: flex;
    flex-direction: column;
}

.add_contact_inputs input {
    width: 316.5px;
    margin-right: 53px;
    margin-bottom: 26.5px;
    text-transform: capitalize;
}

.add_contact_right_buttons {
    display: flex;
    justify-content: start;
    margin-right: 53px;
}

.contact_cancel {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 18px 10px;
    margin-right: 16px;
    gap: 10px;
    width: 102px;
    height: 48px;
    border: 1px solid #2A3647;
    border-radius: 10px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.contact_cancel:hover {
    border: 2px solid #29ABE2;
    cursor: pointer;
}

.contact_cancel img {
    height: 10px;
    width: 10px;
    margin: 0px;
}

.contact_cancel span {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 120%;
    color: #2A3647;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.contact_delete {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 18px 10px;
    margin-top: 16px;
    gap: 10px;
    width: fit-content;
    height: 48px;
    border: 1px solid #2A3647;
    border-radius: 10px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.contact_delete img {
    height: 10px;
    width: 10px;
    margin: 0px;
}

.contact_delete span {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 120%;
    color: #2A3647;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.contact_delete:hover {
    border: 2px solid red;
    cursor: pointer;
}

.contact_create {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 156px;
    height: 48px;
    background: #2A3647;
    border-radius: 10px;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.contact_create:hover {
    background: #29ABE2;
    cursor: pointer;
}

.contact_create img {
    height: 16px;
    width: 12px;
    margin: 0px;
}

.contact_create span {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 120%;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.contact_create img {
    width: 16px;
    height: 12px;
}

.showContact {
    position: absolute;
    width: 461px;
    height: 364px;
    left: 750px;
    top: 326px;
}

.show_contact_ellipse_5 {
    position: absolute;
    width: 120px;
    height: 120px;
    left: 0px;
    top: 0px;
    border-radius: 100%;
    background: #FF7A00;
    display: flex;
    justify-content: center;
    align-items: center;
}

.show_contact_ellipse_5 span {
    font-family: 'Inter';
    font-size: 47px;
    color: #FFFFFF;
}

.showContact_Name_addTask h1 {
    margin-left: 239px;
    width: 287px;
    height: 56px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 47px;
    line-height: 120%;
    display: flex;
    align-items: center;
    color: #000000;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.showContact_Name_addTask span {
    margin-left: 239px;
    width: 100px;
    height: 19px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    display: flex;
    align-items: center;
    color: #29ABE2;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.showContact_Name_addTask span {
    cursor: pointer;
}

.showContact_information_edit {
    display: flex;
}

.contact_information h2 {
    width: 207px;
    height: 74px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 120%;
    display: flex;
    align-items: center;
    color: #000000;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.contact_information h3 {
    width: 43px;
    height: 19px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 120%;
    display: flex;
    align-items: center;
    color: #000000;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.contact_information span {
    width: 140px;
    height: 19px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    display: flex;
    align-items: center;
    color: #007CEE;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.contact_information p {
    width: fit-content;
    height: 19px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    display: flex;
    align-items: center;
    color: #000000;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.edit_contact {
    display: flex;
    align-items: flex-end;
}

.edit_contact:hover {
    cursor: pointer;
}

.edit_contact span {
    width: 100px;
    height: 19px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    display: flex;
    align-items: center;
    color: #2A3647;
}

.contact_information_edit {
    display: flex;
    align-items: center;
    gap: 85.85px;
}

.letters {
    width: 100%;
    border-bottom: 1px solid;
}


.blackSite {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 12px;
    isolation: isolate;
    position: absolute;
    width: 463px;
    height: 594px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    left: 0px;
    top: 0px;
    background: #2A3647;
}

.blackSiteContainer {
    display: flex;
    flex-direction: column;
    padding-left: 46px;
}

.fontAddContact {
    width: 366px;
    height: 73px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 61px;
    line-height: 120%;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
    z-index: 0;
}

.editContactVector {
    width: 90px;
    height: 0;
    border: 3px solid #29ABE2;
    flex: none;
    order: 2;
    flex-grow: 0;
    z-index: 2;
}

.logoContainer {
    position: absolute;
    left: 9.04%;
    right: 78.05%;
    top: 20%;
    bottom: 62.88%;
    flex: none;
    order: 3;
    flex-grow: 0;
    z-index: 3;
}

.editContactLogo {
    height: 66.48px;
}

.close_logo {
    position: absolute;
    width: 21.65px;
    height: 21.65px;
    left: 1141.31px;
    top: 26px;
}


.name_logo_inContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 10px;
    isolation: isolate;
    position: absolute;
    width: 120px;
    height: 120px;
    left: 533px;
    top: 204px;
    background: #FFFFFF;
    border: 3px solid #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border-radius: 70px;
}

.elypse {
    width: 120px;
    height: 120px;
    border-radius: 100%;
    background: #D1D1D1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.elypse span {
    position: absolute;
    height: 28.57px;
    left: 29px;
    top: 45.71px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 47px;
    line-height: 120%;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}

.buttonOutContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 0px;
    gap: 4px;
    position: absolute;
    height: 61px;
    left: 877px;
    top: 470px;
}

.buttonInContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 25px;
    height: 61px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.save {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 18px 10px;
    gap: 10px;
    min-width: 143px;
    width: max-content;
    height: 61px;
    background: #2A3647;
    border-radius: 10px;
    flex: none;
    order: 0;
    flex-grow: 0;
    border: 0;
}

.save:hover {
    background: #29ABE2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: 100ms ease-in-out;
}

.save span {
    /* width: min-content; */
    height: 25px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 120%;
    text-align: center;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.createContact {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 18px 10px;
    gap: 10px;
    width: 208px;
    height: 61px;
    background: #2A3647;
    border-radius: 10px;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.createContact span {
    width: 154px;
    height: 25px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 120%;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.createContact img {
    width: 16px;
    height: 12px;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.contactContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    position: absolute;
    width: 422px;
    height: 271px;
    left: 737px;
    top: 129px;}

.nameOutContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 60px;
    width: 422px;
    height: 71px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.nameContainer {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 13px 21px;
    gap: 16px;
    width: 422px;
    height: 51px;
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.inputEditContainer {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 0;
}

.inputName {
    width: 280px;
    height: 25px;
    flex: none;
    order: 0;
    flex-grow: 0;
    border: 0;
    outline: none;
    font-size: 20px;
}

.required {
    width: 119px;
    height: 12px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 120%;
    flex: none;
    color: red;
    order: 1;
    flex-grow: 0;
}

::placeholder {
    width: max-content;
    height: 25px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 120%;
    color: #000000;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.fontTaskArBetter {
    width: 371px;
    height: 32px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 120%;
    color: #FFFFFF;
    flex: none;
    order: 1;
    flex-grow: 0;
    z-index: 1;
}

.cancel {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 18px 10px;
    gap: 10px;
    width: 136px;
    height: 61px;
    border: 1px solid #2A3647;
    border-radius: 10px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.cancel:hover {
    border: 2px solid #29ABE2;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    transition: 100ms ease-in-out;
}

.cancel:hover *{
    color: #29ABE2;
    transition: 100ms ease-in-out;
}

.cancel span {
    width: 69px;
    height: 25px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 120%;
    color: #2A3647;
    flex: none;
    order: 0;
    flex-grow: 0;
}

#cancelImg {
    flex: none;
    order: 1;
    flex-grow: 0;
}

.createContact {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 18px 10px;
    gap: 10px;
    width: 208px;
    height: 61px;
    background: #2A3647;
    border-radius: 10px;
    flex: none;
    order: 1;
    flex-grow: 0;
    border: 0;
}

.createContact:hover {
    background: #29ABE2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: 100ms ease-in-out;
}

.createContact span {
    width: 154px;
    height: 25px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 120%;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.createContact img {
    width: 16px;
    height: 12px;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.contactContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    position: absolute;
    width: 422px;
    height: 271px;
    left: 737px;
    top: 129px;
}

.buttonNewOutContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 0px;
    gap: 4px;
    position: absolute;
    width: 369px;
    height: 61px;
    left: 737px;
    top: 470px;
}
