.initdataPrivacyContainer {
    position: relative;
    top: 89px;
width: 1142px;
height: 935px;
padding: 0 32px;
overflow: auto;
}
.dataPrivacyTD{
    width: 100% !important;
    text-align: start !important;
    color: black !important;
}