body {
    margin: 0;
    user-select: none;
}

.forgotMyP_sendMail {
    position: relative;
    width: 1440px;
    height: 1024px;
    background: #F6F7F8;
}

.forgotPasswordContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 44px 85px;
    gap: 35px;
    isolation: isolate;
    position: absolute;
    width: 826px;
    height: 462px;
    left: calc(50% - 826px/2);
    top: calc(50% - 462px/2 - 0.5px);
    background: #FFFFFF;
    box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
    border-radius: 30px;
}

.forgotPasswordHeadline {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 24px;
    width: 626px;
    height: 97px;
    flex: none;
    order: 0;
    flex-grow: 0;
    z-index: 0;
}

.forgotPasswordHeadline span {
    width: 626px;
    height: 73px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 61px;
    line-height: 120%;
    text-align: center;
    color: #000000;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.forgotPasswordHeadline div {
    width: 150px;
    height: 0;
    border: 3px solid #29ABE2;
    transform: rotate(180deg);
    flex: none;
    order: 1;
    flex-grow: 0;
}

.forgotPasswordContent {
    width: 656px;
    height: 50px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 120%;
    text-align: center;
    color: #000000;
    flex: none;
    order: 1;
    flex-grow: 0;
    z-index: 1;
}

.inputContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 29px;
    width: 422px;
    height: 71px;
    flex: none;
    order: 1;
    flex-grow: 0;
    z-index: 1;
}

.outContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
    width: 422px;
    height: 71px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.required {
    width: 119px;
    height: 12px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 120%;
    flex: none;
    color: transparent;
    order: 1;
    flex-grow: 0;
}

.requiredOn{
    color: red;
}

.container {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 13px 21px;
    gap: 10px;
    width: 422px;
    height: 51px;
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.innerContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    gap: 10px;
    width: 380px;
    height: 25px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.inputForgot {
    width: max-content;
    height: 25px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 120%;
    color: #D1D1D1;
    flex: none;
    order: 0;
    flex-grow: 0;
    border: 0;
    outline: 0;
    color: black;
}

::placeholder{
    width: max-content;
    height: 25px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 120%;
    color: #D1D1D1;
}

.innerContainer img {
    width: 24px;
    height: 24px;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.buttonContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
    gap: 35px;
    width: 264px;
    height: 51px;
    flex: none;
    order: 3;
    flex-grow: 0;
    z-index: 3;
}

button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px 0px;
    gap: 10px;
    width: 264px;
    height: 51px;
    background: #2A3647;
    border-radius: 8px;
    flex: none;
    order: 0;
    flex-grow: 0;
    border: 0;
}

button:hover{
    background: #29ABE2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

button span {
    width: 189px;
    height: 25px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 120%;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.arrowContainer {
    position: absolute;
    width: 37px;
    height: 37px;
    left: 31px;
    top: 35px;
    flex: none;
    order: 3;
    flex-grow: 0;
    z-index: 3;
}

.arrowContainer img {
    position: absolute;
    left: 16.67%;
    right: 16.67%;
    top: 17.59%;
    bottom: 17.59%;
}

.joinLogo {
    position: absolute;
    left: 5.35%;
    right: 87.71%;
    top: 7.81%;
    bottom: 80.28%;
}

.joinLogo img {
    position: absolute;
    left: 5.35%;
    right: 87.71%;
    top: 7.81%;
    bottom: 80.28%;
}