body {
	font-family: Inter;
}

.helpContainer {
	display: flex;
	justify-content: center;
	height: 100vh;
}

.helpContentContainer {
}

.headingContainer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 624px;
}

.headingContainer h1 {
	font-size: 61px;
}

.backToSummaryArrow {
	width: 24px;
	height: 24px;
}

.definitionContainer h2,
.manualContainer h2 {
	font-size: 27px;
}

.stepsManualContainer {
	counter-reset: counter-name;
}

.stepsManualContainer p::before {
	counter-increment: counter-name;
	content: counter(counter-name) '. ';
	font-size: 27px;
}
