.kanbanProjectManagementToolMob {
  display: flex;
  justify-content: space-between;
  padding: 0px;
  gap: 20px;
  position: absolute;
  /*  width: 90%; */
  height: 19px;
  left: 33px;
  right: 33px;
  top: 114px;
}

.kanbanProjectManagementToolMob span {
  width: 255px;
  height: 19px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  color: #000000;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.helpContainer {
  width: calc(100vw - 66px);
  height: 100vh;
  margin: 0 33px;
}

.helpOverlayMob img {
  width: 25px;
  height: 25px;
}

.helpOverlayMob {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  /* gap: 20px; */
  position: absolute;
  /*   width: 90%; */
  height: 56px;
  top: 152px;
  right: 33px;
  left: 33px;
}

.helpOverlayMob span {
  width: 106px;
  height: 56px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 47px;
  line-height: 120%;
  color: #000000;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.textFieldContainerMob {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 10px;
  position: absolute;
  /*  width: 90%; */
  height: 350px;
  padding-bottom: 80px;
  left: 33px;
  right: 33px;
  top: 235px;
  color: black;
  overflow: hidden;
  overflow: scroll;
}

.textFieldContainerMob::-webkit-scrollbar {
  width: 0;
}

.whatIsJoinContainerMob {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 50px;
  width: 90%;
  height: fit-content;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.whatIsJoinFieldMob {
  width: 163px;
  height: 32px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 27px;
  line-height: 120%;
  color: #000000;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.whatIsJoinIllustrationMob {
  width: 100%;
  height: fit-content;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  color: #000000;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.listBigContainerMob {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 20px;
  width: 90%;
  height: fit-content;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.listContainerMob {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 35px;
  width: 90%;
  height: fit-content;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.listNumberMob {
  width: 21px;
  height: 32px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 27px;
  line-height: 120%;
  color: #000000;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.listContentMob {
  width: 100%;
  height: fit-content;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  color: #000000;
  flex: none;
  order: 1;
  flex-grow: 0;
}
