body {
    margin: 0;
    user-select: none;
}

.d-none {
    display: none !important;
}

#logIn {
    /* max-width: 1440px; */
    width: 100%;
    height: 1024px;
    background: #F6F7F8;
}

.notAJoinUser {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 35px;
    position: absolute;
    width: 287px;
    height: 51px;
    /* left: 1039px; */
    left: calc(80% - (287px / 2));
    top: 67px;
}

.notAJoinUser span {
    width: 161px;
    height: 25px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 120%;
    color: #000000;
}

.notAJoinUser div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px 16px;
    gap: 10px;
    width: 91px;
    height: 51px;
    background: #2A3647;
    border-radius: 8px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 120%;
    color: #FFFFFF;
    border: 0;
    cursor: pointer;
}

.notAJoinUser div:hover {
    background: #29ABE2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: 100ms ease-in-out;
}

.joinLogo {
    position: absolute;
    left: 5.35%;
    right: 87.71%;
    top: 7.81%;
    bottom: 80.28%;
}

.loginMasterContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 35px 0px;
    gap: 35px;
    position: absolute;
    width: 652px;
    height: 513px;
    /* left: 394px; */
    left: calc(50% - (652px / 2));
    top: 274px;
    background: #FFFFFF;
    box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
    border-radius: 30px;
}

.logInHeadlineContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 24px;
    width: 315px;
    height: 97px;
}

.logInHeadlineContainer span {
    width: 315px;
    height: 73px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 61px;
    line-height: 120%;
    text-align: center;
    color: #000000;
}

.logInHeadlineContainer div {
    width: 150px;
    height: 0px;
    border: 3px solid #29ABE2;
    transform: rotate(180deg);
}

.loginInputContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 29px;
    width: 422px;
    height: 171px;
}

.loginOutEmailContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
    width: 422px;
    height: 71px;
}

.loginContainer {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 13px 21px;
    gap: 10px;
    width: 422px;
    height: 51px;
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
}

.loginInnerEmailContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    gap: 10px;
    width: 380px;
    height: 25px;
    border: 0;
    outline: none;
}

::placeholder {
    width: max-content;
    height: 25px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 120%;
    color: black;
}

.inputLogIn {
    width: min-content;
    height: 25px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 120%;
    border: 0;
    outline: 0;
}

.innerEmailContainer img {
    width: 20px;
    height: 18px;
}

.loginOutPasswordContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
    width: 422px;
    height: 71px;
}

.loginInnerPasswordContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    gap: 10px;
    width: 380px;
    height: 25px;
}

.loginInnerPasswordContainer img {
    width: 22px;
    height: 21px;
}

.rememberMeContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
    gap: 35px;
    width: 335px;
    height: 19px;
}

.rememberMeBox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 20px;
    width: 146px;
    height: 19px;
}

.rememberMeBox div {
    display: flex;
    align-items: center;
    width: 16px;
    height: 16px;
    border-radius: 3px;
}

.rememberMeBox span {
    width: 110px;
    height: 19px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: #000000;
}

.loginForgotPassword {
    width: 154px;
    height: 19px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: #29ABE2;
    cursor: pointer;
}

.logInButtonContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
    gap: 35px;
    width: 341px;
    height: 51px;
}

.logInButton {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px 0px;
    gap: 10px;
    width: 145px;
    height: 51px;
    background: #2A3647;
    border-radius: 8px;
    border: 0;

}

.logInButton:hover {
    background: #29ABE2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: 100ms ease-in-out;
    cursor: pointer;
}

.logInButton span {
    width: 70px;
    height: 25px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 120%;
    color: #FFFFFF;
}

.guestButton {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px 16px;
    gap: 10px;
    width: max-content;
    height: 51px;
    border: 1px solid #2A3647;
    border-radius: 8px;
}

.guestButton:hover {
    border: 2px solid #29ABE2;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    transition: 100ms ease-in-out;
    cursor: pointer;
}

.guestButton:hover * {
    color: #29ABE2;
    transition: 100ms ease-in-out;
}

.guestButton span {
    width: 129px;
    height: 25px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 120%;
    color: #2A3647;
}

.required {
    width: max-content;
    height: 12px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 120%;
    flex: none;
    color: transparent;
    order: 1;
    flex-grow: 0;
}

.requiredOn {
    color: red;
}



/*signup*/

.signUpMasterContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 35px 0px;
    gap: 5px;
    isolation: isolate;
    position: absolute;
    width: 652px;
    height: 510px;
    /* left: 394px; */
    left: calc(50% - (652px / 2));
    top: 274px;
    background: #FFFFFF;
    box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
    border-radius: 30px;
    overflow: hidden;
}

.signUpHeadline {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 24px;
    width: 315px;
    height: 97px;
}

.signUpHeadline span {
    width: 315px;
    height: 73px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 61px;
    line-height: 120%;
    text-align: center;
    color: #000000;
}

.signUpHeadline div {
    width: 150px;
    height: 0px;
    border: 3px solid #29ABE2;
    transform: rotate(180deg);
}

.signupInputContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 29px;
    width: 422px;
    height: 271px;
    flex: none;
    order: 1;
    flex-grow: 0;
    z-index: 1;
    top: -30px;
    position: relative;
}

.signupOutContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
    width: 422px;
    height: 71px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.signupaContainer {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 13px 21px;
    gap: 10px;
    width: 422px;
    height: 51px;
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.signupInnerContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    gap: 10px;
    width: 380px;
    height: 25px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.signupInnerContainer span {
    width: 59px;
    height: 25px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 120%;
    color: #D1D1D1;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.signupInnerContainer img {
    width: 24px;
    height: 24px;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.signupInputSignUp {
    border: 0;
    outline: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 120%;
}

.signupButtonContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px 0px;
    gap: 10px;
    width: 145px;
    height: 51px;
    background: #2A3647;
    border-radius: 8px;
    flex: none;
    order: 2;
    flex-grow: 0;
    z-index: 2;
    border: 0;
}

.signupButtonContainer:hover {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background: #29ABE2;
    cursor: pointer;
}

.signupButtonContainer span {
    width: 136px;
    height: 25px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 120%;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.arrowContainer {
    position: absolute;
    width: 37px;
    height: 37px;
    left: 31px;
    top: 35px;
    flex: none;
    order: 3;
    flex-grow: 0;
    z-index: 3;
    cursor: pointer;
}

.arrowContainer img {
    position: absolute;
    left: 16.67%;
    right: 16.67%;
    top: 17.59%;
    bottom: 17.59%;
}

.contactSucc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    position: relative;
    top: 460px;
    left: calc(50% - (647px / 2));
    width: 326px;
    height: 74px;
    filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.1));
    transition: 500ms ease-in-out;
    z-index: 2;
}

.contactSuccSlide {
    transform: translateY(-355px);
}

.contactSuccContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    width: 326px;
    height: 74px;
    background: #2A3647;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.contactSuccContainer span {
    width: 279px;
    height: 20px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 120%;
    color: #FFFFFF;
    text-align: center;
    flex: none;
    order: 0;
    flex-grow: 0;
}


/*forgotPW*/
.forgotMasterContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 44px 35px;
    gap: 35px;
    position: absolute;
    width: 652px;
    height: 462px;
    left: calc(50% - (652px/2) - 30px);
    top: 274px;
    /* top: calc(50% - 462px/2 - 0.5px); */
    background: #FFFFFF;
    box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
    border-radius: 30px;
    overflow: hidden;
}

.forgotPasswordHeadline {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 24px;
    width: 626px;
    height: 97px;
    flex: none;
    order: 0;
    flex-grow: 0;
    z-index: 0;
}

.forgotPasswordHeadline span {
    width: 626px;
    height: 73px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 61px;
    line-height: 120%;
    text-align: center;
    color: #000000;
    flex: none;
    order: 0;
    flex-grow: 0;
    padding-top: 32px;
}

.forgotPasswordHeadline div {
    width: 150px;
    height: 0;
    border: 3px solid #29ABE2;
    transform: rotate(180deg);
    flex: none;
    order: 1;
    flex-grow: 0;
}

.forgotPasswordContent {
    width: 656px;
    height: 50px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 120%;
    text-align: center;
    color: #000000;
    flex: none;
    order: 1;
    flex-grow: 0;
    z-index: 1;
}

.forgotInputContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 29px;
    width: 422px;
    height: 71px;
    flex: none;
    order: 1;
    flex-grow: 0;
    z-index: 1;
}

.forgotOutContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
    width: 422px;
    height: 71px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.forgotaContainer {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 13px 21px;
    gap: 10px;
    width: 422px;
    height: 51px;
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.forgotInnerContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    gap: 10px;
    width: 380px;
    height: 25px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.inputForgot {
    width: max-content;
    height: 25px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 120%;
    color: #D1D1D1;
    flex: none;
    order: 0;
    flex-grow: 0;
    border: 0;
    outline: 0;
    color: black;
}

.forgotInnerContainer img {
    width: 24px;
    height: 24px;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.forgotButtonContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
    gap: 35px;
    width: 264px;
    height: 51px;
    flex: none;
    order: 3;
    flex-grow: 0;
    z-index: 3;
}

.forgotButton {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px 0px;
    gap: 10px;
    width: 264px;
    height: 51px;
    background: #2A3647;
    border-radius: 8px;
    flex: none;
    order: 0;
    flex-grow: 0;
    border: 0;
}

.forgotButton:hover {
    background: #29ABE2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.forgotButton span {
    width: 189px;
    height: 25px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 120%;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
}



.sentMassageDoneMaserContainerMob {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    position: relative;
    width: 326px;
    height: 74px;
    filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.1));
    left: 0;
    top: 390px;
    z-index: 3;
    overflow: hidden;
    transition: 500ms ease-in-out;
    border-radius: 10px;
}

.sentMassageDoneMaserContainerMobSlide {
    transform: translateY(-300px);
}

.sentMassageDoneMaserContainerMob span {
    color: white;
}

.sentMassageDoneContainerMob {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 17px;
    gap: 10px;
    width: 326px;
    height: 74px;
    background: #2A3647;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

/*forgotReset*/
.forgotResetMasterContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 44px 85px;
    gap: 35px;
    isolation: isolate;
    position: absolute;
    height: 537px;
    left: 21.32%;
    right: 21.32%;
    top: calc(50% - 537px/2 - 0.5px);
    background: #FFFFFF;
    box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
    border-radius: 30px;
}

.forgotResetResetHeadline {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 24px;
    width: 627px;
    height: 97px;
    flex: none;
    order: 0;
    flex-grow: 0;
    z-index: 0;
}

.forgotResetResetHeadline span {
    width: 627px;
    height: 73px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 61px;
    line-height: 120%;
    text-align: center;
    color: #000000;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.forgotResetResetHeadline div {
    width: 150px;
    height: 0;
    border: 3px solid #29ABE2;
    transform: rotate(180deg);
    flex: none;
    order: 1;
    flex-grow: 0;
}

.forgotResetContent {
    width: 656px;
    height: 50px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 120%;
    text-align: center;
    color: #000000;
    flex: none;
    order: 1;
    flex-grow: 0;
    z-index: 1;
}

.forgotResetInputContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 29px;
    width: 422px;
    height: 171px;
    flex: none;
    order: 2;
    flex-grow: 0;
    z-index: 2;
}

.forgotResetOutContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
    width: 422px;
    height: 71px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.forgotResetaContainer {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 13px 21px;
    gap: 10px;
    width: 422px;
    height: 51px;
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.forgotResetInnerContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 10px;
    width: 380px;
    height: 25px;
    flex: none;
    order: 0;
    flex-grow: 0;
}


.forgotResetInputPassword {
    width: max-content;
    height: 25px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 120%;
    color: #D1D1D1;
    flex: none;
    order: 0;
    flex-grow: 0;
    border: 0;
    outline: 0;
    color: black;
}

.forgotResetButtonContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
    gap: 35px;
    width: 264px;
    height: 51px;
    flex: none;
    order: 3;
    flex-grow: 0;
    z-index: 3;
}

.forgotResetResetButton {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px 0px;
    gap: 10px;
    width: 264px;
    height: 51px;
    background: #2A3647;
    border-radius: 8px;
    flex: none;
    order: 0;
    flex-grow: 0;
    border: 0;
    cursor: pointer;
}

.forgotResetResetButton:hover {
    background: #29ABE2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.forgotResetResetButton span {
    width: 95px;
    height: 25px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 120%;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.pwResetContainerMob {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    position: absolute;
    width: 326px;
    height: 74px;
    filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.1));
    left: 53px;
    top: 940px;
    transition: 500ms ease-in-out;
}

.pwResetContainerMobSlide {
    transform: translateY(-410px);
}

.pwResetHeadlineContainerMob {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 326px;
    height: 74px;
    background: #2A3647;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.pwResetHeadlineContainerMob span {
    width: 266px;
    height: 28px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 120%;
    color: #FFFFFF;
    text-align: center;
    flex: none;
    order: 0;
    flex-grow: 0;
}