body {
	display: flex;
	justify-content: center;
}

.d-none {
	display: none !important;
}

.mobilMasterContainer {
	position: relative;
	width: 428px;
	height: 926px;
	background: #f6f7f8;
}

/********/
/*HEADER*/
/********/
header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	position: absolute;
	width: 428px;
	height: 79.02px;
	left: 0px;
	top: 0px;
	background: #ffffff;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}

.headerJoinLogoMob {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 10px;
	width: 32px;
	height: 39.02px;
	flex: none;
    margin-left: 16px;
	order: 0;
	flex-grow: 0;
}

.headerJoinLogoMob img {
	width: 32px;
	height: 39.02px;
	flex: none;
	order: 0;
	flex-grow: 0;
}

#contributorsLogoHeadderMob {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 0px;
	width: 39px;
	height: 39px;
	flex: none;
    margin-right: 16px;
	order: 1;
	flex-grow: 0;
	border-radius: 100%;
	cursor: pointer;
}

#contributorsLogoHeadderLettersMob p {
	display: flex;
	justify-content: center;
	align-items: center;
}

/*********/
/*NAV-BAR*/
/*********/
nav {
	position: absolute;
	width: 428px;
	height: 80px;
	left: 0px;
	top: 846px;
}

.navMasterContainerMob {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	gap: 10px;
	position: absolute;
	width: 428px;
	height: 80px;
	left: 0px;
	top: 0px;
	background: #2a3647;
	box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
	border-radius: 0px;
	z-index: 100;
}

.navContainerMob {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 0px;
	gap: 10px;
	width: 75px;
	height: 80px;
	flex: none;
	order: 0;
	flex-grow: 0;
	cursor: pointer;
}

.navContainerMob:hover {
	background: #091931;
}

.navInnerContainerMob {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 0px;
	gap: 10px;
	width: max-content;
	height: 59px;
	flex: none;
	order: 0;
	flex-grow: 0;
}

.navInnerContainerMob img {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 0px;
	width: 30px;
	height: 30px;
	flex: none;
	order: 0;
	flex-grow: 0;
}

.navInnerContainerMob span {
	width: fit-content;
	height: 19px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 120%;
	color: #cdcdcd;
	flex: none;
	order: 1;
	flex-grow: 0;
}

.mobileContent{
	overflow: hidden;
	height: 845px;
}

/******************************************/

.kanbanProjectManagementTool {
	position: absolute;
	width: 300px;
	height: 19px;
	left: 33px;
	top: 114px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 120%;
	color: #000000;
	flex: none;
	order: 0;
	flex-grow: 0;
}

.headlineContainerMob {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	padding: 0px;
	gap: 20px;
	position: absolute;
	width: 237px;
	height: 101px;
	left: 33px;
	top: 152px;
}

.headlineMob {
	width: 221px;
	height: 56px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 700;
	font-size: 47px;
	line-height: 120%;
	color: #000000;
	flex: none;
	order: 0;
	flex-grow: 0;
}

.headlineDisMob {
	width: 237px;
	height: 25px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 21px;
	line-height: 120%;
	color: #2a3647;
	flex: none;
	order: 1;
	flex-grow: 0;
}

vector {
	position: absolute;
	width: 90px;
	height: 0;
	left: 33px;
	top: 285px;
	border: 2px solid #29abe2;
}

.summaryFloatingMasterContainer {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 0px;
	gap: 24px;
	position: absolute;
	width: 363px;
	height: 378px;
	left: 33px;
	top: 326px;
}

.taskOverviewMob {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	padding: 0px;
	gap: 15px;
	width: 360px;
	height: 110px;
	flex: none;
	order: 0;
	flex-grow: 0;
}

#taskInBoard,
#taskInProgress,
#awaitingFeedback {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 110px;
	height: 110px;
	background: #ffffff;
	box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
	border-radius: 20px;
	flex: none;
	order: 0;
	flex-grow: 0;
}

#taskInBoardAmount,
#taskInProgressAmount,
#awaitingFeedbackAmount {
	width: 30px;
	height: 56px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 600;
	font-size: 47px;
	line-height: 120%;
	text-align: center;
	color: #000000;
	flex: none;
	order: 0;
	flex-grow: 0;
}

p {
	width: 70px;
	/* height: 34px; */
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 120%;
	text-align: center;
	color: #2a3647;
	flex: none;
	order: 1;
	flex-grow: 0;
	margin: 0;
}

.ugencySummaryMob {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 50px;
	width: 360px;
	height: 110px;
	background: #ffffff;
	box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
	border-radius: 20px;
	flex: none;
	order: 1;
	flex-grow: 0;
}

.ugentMob {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 0px;
	gap: 18px;
	width: 108px;
	height: 73px;
	flex: none;
	order: 0;
	flex-grow: 0;
}

.ugentImgContainerMob {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 0px;
	gap: 10px;
	width: 40px;
	height: 40px;
	flex: none;
	order: 0;
	flex-grow: 0;
}

.ugentImgMob {
	width: 40px;
	height: 40px;
	flex: none;
	order: 0;
	flex-grow: 0;
}

.ugentAmountMob {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 0px;
	width: 50px;
	height: 73px;
	flex: none;
	order: 1;
	flex-grow: 0;
}

#ugencySummaryAmount {
	width: 50px;
	height: 56px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 600;
	font-size: 47px;
	line-height: 120%;
	text-align: center;
	color: #000000;
	flex: none;
	order: 0;
	flex-grow: 0;
}

#ugencySummaryurgent {
	width: 46px;
	height: 17px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 120%;
	color: #2a3647;
	flex: none;
	order: 1;
	flex-grow: 0;
}

.ugentVerticalLine {
	width: 0px;
	height: 68px;
	border: 2px solid #d1d1d1;
	flex: none;
	order: 1;
	flex-grow: 0;
}

.deadlineDataMob {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 0px;
	gap: 8px;
	width: 135px;
	height: 44px;
	flex: none;
	order: 2;
	flex-grow: 0;
}

#deadlineDate {
	width: 135px;
	height: 19px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 120%;
	color: #2a3647;
	flex: none;
	order: 0;
	flex-grow: 0;
}

#deadlineText {
	width: 130px;
	height: 17px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 120%;
	color: #2a3647;
	flex: none;
	order: 1;
	flex-grow: 0;
}

.toDoDataMob {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 0px;
	gap: 20px;
	width: 360px;
	height: 110px;
	flex: none;
	order: 2;
	flex-grow: 0;
}

#toDo,
#toDoDone {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 10px;
	width: 170px;
	height: 110px;
	background: #ffffff;
	box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
	border-radius: 20px;
	flex: none;
	order: 0;
	flex-grow: 0;
}

#toDoImg,
#toDoDoneImg {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 0px;
	gap: 10px;
	width: 40px;
	height: 40px;
	flex: none;
	order: 0;
	flex-grow: 0;
}

.toDoAmountData {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0px;
	width: 40px;
	height: 73px;
	flex: none;
	order: 1;
	flex-grow: 0;
}

#toDoAmountTasks,
#toDoDoneAmountTasks {
	width: 23px;
	height: 56px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 600;
	font-size: 47px;
	line-height: 120%;
	text-align: center;
	color: #000000;
	flex: none;
	order: 0;
	flex-grow: 0;
}

#toDoAmountP,
#toDoDoneAmountP {
	width: 40px;
	height: 17px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 120%;
	color: #2a3647;
	flex: none;
	order: 1;
	flex-grow: 0;
}
