body {
    margin: 0;
    user-select: none;
}

.page1 {
    position: relative;
    width: 1440px;
    height: 1024px;
    background: #F6F7F8;
}

.joinLogoContainer {
    position: absolute;
    left: 40.49%;
    right: 40.49%;
    top: 33.69%;
    bottom: 33.68%;
}

.joinLogoContainer img {
    position: absolute;
    left: 40.49%;
    right: 40.49%;
    top: 33.69%;
    bottom: 33.68%;
}