/* .addTaskRightContainerAddMarginTop{
    margin-top: 75px;
}

.addTaskRightContainerAddMarginTop1{
    margin-top: 150px;
}

.testResponsivNewHeight{
    height: 1488px !important;
}

.testResponsivNewHeight1{
    height: 1563px !important;
} */

/* slider menu */
.sliderMenu {
    display: none;
    height: 1024px;
    width: 302px;
    color: #CDCDCD;
    z-index: 1;
    position: fixed;
    left: -232px;
    align-items: center;
    transition: 100ms ease-in-out;
}

.showSliderMenu {
    transition: 100ms ease-in-out;
    transform: translateX(232px);
}

.menuContainer {
    height: 935px;
    width: 232px;
    background-color: #2A3647;
    color: #CDCDCD;
    margin-top: 89px;
}

.menuButton img {
    height: 50px;
    background: #2A3647;
    border-radius: 0% 50% 50% 0%;
    padding: 10px;
}

.menuButton img:hover {
    cursor: pointer;
    background: #29ABE2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: 100ms ease-in-out;
}

/* slider menu end */

/* Board Add Task Marginsets */
.addMarginCatList{
    margin-top: 104px;
}

.addMarginAssignList{
    margin-top: 145px;
}

.addMarginBothList{
    margin-top: 249px;
}


@media screen and (max-width: 1500px) {
    .outerContainer {
        width: 100%;
    }

    .mainContainer {
        justify-content: center;
        overflow: hidden;
        width: 100%;
    }
}


@media screen and (max-width: 1440px) {
    .rightContainer {
        width: calc(100% - 232px);
    }

    .memberMenu {
        /* width: 100px; */
        width: 100%;
        padding: 0px 0px 0px 0px;
        /* padding-left: 24.17% !important;
        padding-right: 36px !important; */
    }

    #memberInfo {
        margin-right: 36px;
    }

    .memberMenu h1 {
        margin-left: 22%;
    }

    .content {
        width: 100%;
    }

    .welcome {
        left: calc(99% - 385px) !important;
    }

    .title {
        left: 22% !important;
    }

    .overview {
        left: 22% !important;
    }

    /* board */
    .boardOverlay {
        left: 22% !important;
        width: 75% !important;
        justify-content: space-between;
        gap: unset !important;
    }

    .boardSubheaders {
        left: calc(22% - 45px) !important;
        width: 76.78% !important;
    }

    .boardSubtitleContainer {
        width: 100% !important;
    }

    /* .toDoAreaHeader,
    .inProgressAreaHeader,
    .awaitingFeedbackAreaHeader,
    .doneAreaHeader {
        width: 21.74% !important;
    } */

    .canbanBoard {
        left: 22% !important;
    }

    /* addTask */

    .testResponsiv {
        /* left: calc(-4%) !important; */
        left: calc((100% - 1208px) / 2);
    }
}

@media screen and (max-width: 1400px) {
    /* board */

    .boardOverlay {
        left: 22% !important;
        width: 58% !important;
        justify-content: center;
        gap: 202px !important;
    }

    .toDoHeadline {
        width: 401px !important;
    }

    .boardTaskCardOuterContainer {
        left: 22px !important;
    }

    .boardTaskCardOuterContainer {
        height: 640px !important;
    }

    .boardTaskCardOuterContainer {
        width: 100% !important;
    }

    .toDoOuterContainer {
        flex-direction: unset !important;
        align-items: unset !important;
        width: 86% !important;
        flex-wrap: wrap;
    }

    /* board Detail View */
    .boardTaskCardPopup {
        left: unset;
        top: unset;
        box-sizing: border-box;
        width: 423px;
    }

    .boardTaskDetail {
        justify-content: center !important;
        display: flex;
        width: unset !important;
        height: 935px !important;
        margin-top: 89px !important;
        margin-bottom: unset !important;
        align-items: center;
    }

    .moveBtnMobil {
        left: -18px !important;
        top: 635px !important;
    }

}

@media screen and (max-width: 1300px) {
    /* Board Add Task */
    .shadowOverlay{
        width: 100%;
    }



    .boardAddTaskPopupOverlay{
        width: 560px !important;
        overflow: hidden;
        overflow: scroll;
    }

    .close_logo_edit_task{
        left: 510px;
        position: sticky;
    }

    .boardAddTaskDividerBoard{
        display: none;
    }

    .boardAddTaskRightContainer{
        left: 0;
        top: 636px;
    }

    .boardAddTaskBtnOuterContainer{
        left: 158px;
        top: 1160px;
    }

    .boardtaskAddedToBoard{
        left: 130px;
        top: 1270px;
        top: calc(100% + 300px);
    }

    .rightContainer {
        width: 100%;
    }

    /* Side Menu and Slider */

    .sideMenu {
        display: none !important;
    }

    .sliderMenu {
        display: flex !important;
    }

    .title {
        left: 8% !important;
    }

    .overview {
        left: 8% !important;
    }

    .memberMenu h1 {
        margin-left: 8%;
    }

    /* addTask */
    
}

@media screen and (max-width: 1100px) {

    /*addTask  */

    .addTaskRightContainerAddMarginTop {
        margin-top: 75px;
    }

    .addTaskRightContainerAddMarginTop1 {
        margin-top: 150px;
    }

    .testResponsivNewHeight {
        height: 1488px !important;
    }

    .testResponsivNewHeight1 {
        height: 1563px !important;
    }

    .memberMenu {
        z-index: 1;
    }

    .addTaskAssignList {
        z-index: 0 !important;
    }

    .addTaskAssignList li {
        width: 100% !important;
    }

    .addTaskCatList {
        z-index: 0 !important;
    }

    .addTaskDivider {
        rotate: 90deg !important;
        left: 332px !important;
        top: 599px !important;
        height: 422px !important;
    }

    .testResponsiv {
        height: 1413px;
        left: 0px;
        margin-bottom: 82px;
        margin-left: -53px;
    }

    .addTaskBtnOuterContainerNewTopValue {
        top: 1345px !important;
    }

    .addTaskBtnOuterContainerNewTopValue1 {
        top: 1420px !important;
    }

    .addTaskBtnOuterContainerNewTopValue2 {
        top: 1495px !important;
    }

    .addTaskRightContainer {
        left: 123px !important;
        top: 832px !important;
    }

    .addTaskBtnOuterContainer {
        left: 0px !important;
        top: 1345px;
        justify-content: center !important;
        width: 100% !important;
    }

    .contentHeigth,
    .outerContainer,
    .mainContainer,
    .rightContainer {
        height: auto !important;
    }

    .addTaskResponsiv {
        width: calc(100vw - 140px) !important;
    }

    .dropdownImg {
        /* left: 392px; */
        /* left: calc(100vw - 170px ) !important; */
    }

    .addTaskLow {
        flex: 1 !important;
    }

    .addTaskMedium {
        flex: 1 !important;
    }

    .addTaskUrgent {
        flex: 1 !important;
    }

    .addTaskPrioIcons {
        gap: 35px !important;
    }

    .taskAddedToBoard {
        left: 0px !important;
        top: 531px !important;
    }

    #dropdownImg {
        left: calc(100vw - 170px) !important;
    }

    #assignDropDownImg {
        left: calc(100vw - 170px) !important;
        display: flex !important;
    }

    /* .content{
        height: auto;
    } */

    #addTaskNewCatBtn {
        left: calc(100vw - 221px) !important;
    }

    #CatListDropdown {
        width: calc(100vw - 142px) !important;
    }

    #dropdown2 {
        width: calc(100vw - 142px) !important;
    }

    #assignToCancelConfirmImgContainer {
        left: calc(100vw - 221px) !important;
    }

    #addTaskPrioIcons {
        width: calc(100vw - 142px) !important;
        justify-content: space-between;
    }

    #subtaskCross {
        left: calc(100vw - 184px) !important;
    }

    #addTaskDiverder {
        display: none !important;
    }

    #subTaskImgDiv {
        left: calc(100vw - 220px) !important;
    }

    .addTaskPrio,
    .subtask {
        order: 0;
    }

    /* summary */
    .welcome {
        display: none;
    }

}


@media screen and (max-width: 956px) {
    .boardOverlay {
        left: 22% !important;
        width: 58% !important;
        justify-content: center;
        gap: 102px !important;
    }

}

@media screen and (max-width: 768px) {

    /* board reset*/
    .boardTaskCardOuterContainer {
        left: 33px !important;
    }

    .boardTaskCardOuterContainer {
        height: 550px !important;
    }

    .boardTaskCardOuterContainer {
        width: 363px !important;
    }

    .toDoOuterContainer {
        flex-direction: column !important;
        width: 363px;
        align-items: center;
    }

    .toDoHeadline {
        width: 363px !important;
    }

    .boardTaskCardPopup {
        left: 480px !important;
        top: 117px !important;
        box-sizing: unset !important;
        width: 573px !important;
    }

    .boardTaskDetail {
        justify-content: unset !important;
        display: unset !important;
        width: 420px !important;
        height: 766px !important;
        margin-top: 80px !important;
        margin-bottom: 80px !important;
        align-items: unset !important;
    }

    .moveBtnMobil {
        left: 33px !important;
        top: 685px !important;
    }
}





/* new Main Classes for AddTask due to responsivness */