body {
    margin: 0;
    user-select: none;
}

.signUp {
    position: relative;
    width: 1440px;
    height: 1024px;
    background: #F6F7F8;
}

.joinLogo {
    position: absolute;
    left: 5.35%;
    right: 87.71%;
    top: 7.81%;
    bottom: 80.28%;
}

.joinLogo img {
    position: absolute;
    left: 5.35%;
    right: 87.71%;
    top: 7.81%;
    bottom: 80.28%;
}

.signUpContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 35px 0px;
    gap: 35px;
    isolation: isolate;
    position: absolute;
    width: 652px;
    height: 559px;
    left: 394px;
    top: 274px;
    background: #FFFFFF;
    box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
    border-radius: 30px;
}

.signUpHeadline {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 24px;
    width: 315px;
    height: 97px;
}

.signUpHeadline span {
    width: 315px;
    height: 73px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 61px;
    line-height: 120%;
    text-align: center;
    color: #000000;
}

.signUpHeadline div {
    width: 150px;
    height: 0px;
    border: 3px solid #29ABE2;
    transform: rotate(180deg);
}

.inputContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 29px;
    width: 422px;
    height: 271px;
    flex: none;
    order: 1;
    flex-grow: 0;
    z-index: 1;
}

.outContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
    width: 422px;
    height: 71px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.container {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 13px 21px;
    gap: 10px;
    width: 422px;
    height: 51px;
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.innerContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    gap: 10px;
    width: 380px;
    height: 25px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.innerContainer span {
    width: 59px;
    height: 25px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 120%;
    color: #D1D1D1;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.innerContainer img {
    width: 24px;
    height: 24px;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.inputSignUp{
    border: 0;
    outline: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 120%;
}

::placeholder{
    width: max-content;
    height: 25px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 120%;
    color: #D1D1D1;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.buttonContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px 0px;
    gap: 10px;
    width: 145px;
    height: 51px;
    background: #2A3647;
    border-radius: 8px;
    flex: none;
    order: 2;
    flex-grow: 0;
    z-index: 2;
    border: 0;
}

.buttonContainer:hover{
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
background: #29ABE2;
cursor: pointer;
}

.buttonContainer span {
    width: 78px;
    height: 25px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 120%;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.arrowContainer {
    position: absolute;
    width: 37px;
    height: 37px;
    left: 31px;
    top: 35px;
    flex: none;
    order: 3;
    flex-grow: 0;
    z-index: 3;
    cursor: pointer;
}

.arrowContainer img {
    position: absolute;
    left: 16.67%;
    right: 16.67%;
    top: 17.59%;
    bottom: 17.59%;
}

.required {
    width: max-content;
    height: 12px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 120%;
    flex: none;
    order: 1;
    flex-grow: 0;
}
.requiredOn{
    color: red;
}