body {
    margin: 0;
    scroll-behavior: smooth;
    user-select: none;
    color: white;
    background-color: black;
}

/* destop view */
.outer-container {
    
}

.main-container {
    display: flex;
    justify-content: flex-start;
    height: 1024px;
    width: 1440px;
}

.side-menu {
    height: 1024px;
    width: 232px;
    background-color: #2A3647;
    color: #CDCDCD;
    z-index: 1;
}

.logo {
    margin-top: 66px;
    margin-left: 65.98px;
    margin-right: 65.98px;
    margin-bottom: 103px;
}

/* side menu classes */
nav {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 229px;
    width: 232px;
    margin-bottom: 346px;
}

table {
    border-spacing: 0px;
}

td {
    font-family: 'inter-regular';
    font-weight: 400;
    font-size: 16px;
    color: #CDCDCD;
    height: 55.25px;
    gap: 15px;
}

tr td:first-child {
    width: 108.5px;
    text-align: right;
}

tr td:nth-child(2) {

    width: 15px;
}

tr td:nth-child(3) {
    width: 108.5px;
}


/* side menu hover css classes */
#img_summary1 {
    display: inline-table;
}

#img_summary2 {
    display: none;
}

#img_board1 {
    display: inline-table;
}

#img_board2 {
    display: none;
}

#img_add_task1 {
    display: inline-table;
}

#img_add_task2 {
    display: none;
}

#img_contacts1 {
    display: inline-table;
}

#img_contacts2 {
    display: none;
}

.tr_hover:hover {
    background-color: #091931;
    cursor: pointer;
}

.tr_hover:hover td:nth-child(3) {
    color: #FFFFFF;
}

.tr_hover:hover td:nth-child(1) #img_summary1 {
    display: none;
}

.tr_hover:hover td:nth-child(1) #img_summary2 {
    display: inline-table;
}

.tr_hover:hover td:nth-child(1) #img_board1 {
    display: none;
}

.tr_hover:hover td:nth-child(1) #img_board2 {
    display: inline-table;
}

.tr_hover:hover td:nth-child(1) #img_add_task1 {
    display: none;
}

.tr_hover:hover td:nth-child(1) #img_add_task2 {
    display: inline-table;
}

.tr_hover:hover td:nth-child(1) #img_contacts1 {
    display: none;
}

.tr_hover:hover td:nth-child(1) #img_contacts2 {
    display: inline-table;
}

.img_d-none {
    opacity: 0;
    display: none !important;
}

.img_display {
    display: inline-table !important;
    opacity: 1;
}

.text_color {
    color: #FFFFFF !important;
}

.text_color1 {
    color: #CDCDCD;
}

/* hover css classes end */

.legal_notice {
    height: 53px;
}

#btn_legal_notice {
    cursor: pointer;
}

/* side menu classes end */

.right-container {
    height: 1024px;
    width: 1208px;
}

.content {
    height: 1024px;
    width: 1208px;
    background-color: #F6F7F8;
    color: #000000;
}

/* member menu */
.member-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 36px 20px 348px;
    gap: 34px;
    color: black;
    position: absolute;
    width: 1056px;
    height: 89px;
    left: 0px;
    top: 0px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}

.member-menu h1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 120%;
    /* or 25px */
    color: #000000;
}

#member-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 26px;
    width: 106px;
    height: 49px;
}

#member-info img:first-child {
    width: 31px;
    height: 31px;
}

#member-info img:last-child {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 16px;
    width: 49px;
    height: 49px;
    border: 3px solid #2A3647;
    border-radius: 100%;
}
/* destop template view end */

/* responsiv classes destop template */
@media screen and (max-width: 1500px) {
    .member-menu {
        width: 956px;
    }
    .content{
        width: 1108px;
    }
}

@media screen and (max-width: 1400px) {
    .member-menu {
        width: 856px;
    }
    .content{
        width: 1008px;
    } 
}

@media screen and (max-width: 1300px) {
    .member-menu {
        width: 756px;
    }
    .content{
        width: 908px;
    }
}

@media screen and (max-width: 1200px) {
    .member-menu {
        width: 656px;
    }
    .content{
        width: 808px;
    }
}

@media screen and (max-width: 1100px) {
    .member-menu {
        width: 556px;
    }
    .content{
        width: 708px;
    }
}
/* responsiv classes destop template end*/