body{
    margin: 0;
    scroll-behavior: smooth;
    user-select: none;
    color: white;
    background-color: black;
}

/* destop view */
.outer-container{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1920px;
    width: 100%;
}

.main-container{
    display: flex;
    justify-content: flex-start;
    height: 1024px;
    width: 1440px;
    /* margin: 16px 16px; */
}

.side-menu{
    height: 1024px;
    width: 232px;
    background-color: #2A3647;
    color: #CDCDCD;
}

.logo{
    margin-top: 66px;
    margin-left: 65.98px;
    margin-right: 65.98px;
    margin-bottom: 103px;
}

nav{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 229px;
    width: 232px;
    margin-bottom: 346px;
}

table{
    border-spacing: 0px;
}

td{
    font-family: 'inter-regular';
    font-weight: 400;
    font-size: 16px;
    color:#CDCDCD;
    height: 55.25px;
    gap: 15px;
}

tr td:first-child{
    /* 26px */
    width: 108.5px;
    text-align: right;
}

tr td:nth-child(2){

    width: 15px;
}

tr td:nth-child(3){
    width: 108.5px;
}


#img_summary1{
    display: inline-table;
}

#img_summary2{
    display: none;
}

#img_board1{
    display: inline-table;
}

#img_board2{
    display: none;
}

#img_add_task1{
    display: inline-table;
}

#img_add_task2{
    display: none;
}

#img_contacts1{
    display: inline-table;
}

#img_contacts2{
    display: none;
}



/* hover css classes */
tr:hover{
    background-color: #091931;
    cursor: pointer;
}

tr:hover td:nth-child(3){
    color: #FFFFFF;
}

tr:hover td:nth-child(1) #img_summary1{
   display: none;
}

tr:hover td:nth-child(1) #img_summary2{
    display: inline-table;
}

tr:hover td:nth-child(1) #img_board1{
    display: none;
 }
 
 tr:hover td:nth-child(1) #img_board2{
     display: inline-table;
 }

 tr:hover td:nth-child(1) #img_add_task1{
    display: none;
 }
 
 tr:hover td:nth-child(1) #img_add_task2{
     display: inline-table;
 }

 tr:hover td:nth-child(1) #img_contacts1{
    display: none;
 }
 
 tr:hover td:nth-child(1) #img_contacts2{
     display: inline-table;
 }

 .img_d-none{
    opacity: 0;
    display: none !important;
}

.img_display{
    display: inline-table !important;
    opacity: 1;
}

.text_color{
    color: #FFFFFF !important;
}

.text_color1{
    color: #CDCDCD;
}


/* hover css classes end */







.legal_notice{
    height: 53px;
}

.right-container{
    height: 1024px;
    width: 1208px;
}

.member-menu{
    height: 89px;
    width: 1208px;
    background-color: #FFFFFF;
    color: #000000;
}

hr{
    background-color: #DEDFE0;
    margin: 0;
    padding: 0;
    height: 2px;
}

.content{
    height: 931px;
    width: 1208px;
    background-color: #F6F7F8;
    color: #000000;
}

/* destop view end */