.kanbanProjectManagementTool {
	position: absolute;
	width: 255px;
	height: 19px;
	left: 33px;
	top: 114px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 120%;
	color: #000000;
	flex: none;
	order: 0;
	flex-grow: 0;
}

.headlineContainerMob {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	padding: 0px;
	gap: 20px;
	position: absolute;
	width: 237px;
	height: 101px;
	left: 33px;
	top: 152px;
}

.headlineMob {
	width: 221px;
	height: 56px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 700;
	font-size: 47px;
	line-height: 120%;
	color: #000000;
	flex: none;
	order: 0;
	flex-grow: 0;
}

.headlineDisMob {
	width: 237px;
	height: 25px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 21px;
	line-height: 120%;
	color: #2a3647;
	flex: none;
	order: 1;
	flex-grow: 0;
}

vector {
	position: absolute;
	width: 90px;
	height: 0;
	left: 33px;
	top: 285px;
	border: 2px solid #29abe2;
}

.summaryFloatingMasterContainer {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 0px;
	gap: 24px;
	position: absolute;
	width: 363px;
	height: 378px;
	left: 33px;
	top: 326px;
}

.taskOverviewMob {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	padding: 0px;
	gap: 15px;
	width: 360px;
	height: 110px;
	flex: none;
	order: 0;
	flex-grow: 0;
}

#taskInBoard,
#taskInProgress,
#awaitingFeedback {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 110px;
	height: 110px;
	background: #ffffff;
	box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
	border-radius: 20px;
	flex: none;
	order: 0;
	flex-grow: 0;
}

#taskInBoardAmount,
#taskInProgressAmount,
#awaitingFeedbackAmount {
	width: 100%;
	height: 56px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 600;
	font-size: 47px;
	line-height: 120%;
	text-align: center;
	color: #000000;
	flex: none;
	order: 0;
	flex-grow: 0;
}

#taskInBoard:hover,
#taskInProgress:hover,
#awaitingFeedback:hover {
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	background: #2a3647;
}

#taskInBoard:hover *,
#taskInProgress:hover *,
#awaitingFeedback:hover * {
	color: white;
}

.containerBox {
	display: flex;
	flex-direction: column;
	height: 90px;
	justify-content: center;
	align-items: center;
}


#taskInBoardAmount p,
#taskInProgressAmount p,
#awaitingFeedbackAmount p {
	width: 347px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 120%;
	text-align: center;
	color: #2a3647;
	flex: none;
	order: 1;
	flex-grow: 0;
	margin: 0;
}

.ugencySummaryMob {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 50px;
	width: 360px;
	height: 110px;
	background: #ffffff;
	box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
	border-radius: 20px;
	flex: none;
	order: 1;
	flex-grow: 0;
}

.ugencySummaryMob:hover {
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	background: #2a3647;
}

.ugentMob {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 0px;
	gap: 18px;
	width: 108px;
	height: 73px;
	flex: none;
	order: 0;
	flex-grow: 0;
}

.ugentImgContainerMob {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 0px;
	gap: 10px;
	width: 40px;
	height: 40px;
	flex: none;
	order: 0;
	flex-grow: 0;
}

.ugentImgMob {
	width: 40px;
	height: 40px;
	flex: none;
	order: 0;
	flex-grow: 0;
}

.ugentAmountMob {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 0px;
	width: 50px;
	height: 73px;
	flex: none;
	order: 1;
	flex-grow: 0;
}

#ugencySummaryAmount {
	width: 50px;
	height: 56px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 600;
	font-size: 47px;
	line-height: 120%;
	text-align: center;
	color: #000000;
	flex: none;
	order: 0;
	flex-grow: 0;
}

#ugencySummaryurgent {
	width: 46px;
	height: 17px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 120%;
	color: #2a3647;
	flex: none;
	order: 1;
	flex-grow: 0;
}

.ugentVerticalLine {
	width: 0px;
	height: 68px;
	border: 2px solid #d1d1d1;
	flex: none;
	order: 1;
	flex-grow: 0;
}

.deadlineDataMob {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding-bottom: 30px;
	gap: 20px;
	width: 135px;
	height: 44px;
	flex: none;
	order: 2;
	flex-grow: 0;
}

#deadlineDate {
	width: 136px;
	height: 19px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 120%;
	color: #2a3647;
	flex: none;
	order: 0;
	flex-grow: 0;
}

#deadlineText {
	width: 130px;
	height: 17px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 120%;
	color: #2a3647;
	flex: none;
	order: 1;
	flex-grow: 0;
	color: red;
}

.toDoDataMob {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 0px;
	gap: 20px;
	width: 360px;
	height: 110px;
	flex: none;
	order: 2;
	flex-grow: 0;
}

#toDo,
#toDoDone {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 10px;
	width: 170px;
	height: 110px;
	background: #ffffff;
	box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
	border-radius: 20px;
	flex: none;
	order: 0;
	flex-grow: 0;
}

#toDoImg,
#toDoDoneImg {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 0px;
	gap: 10px;
	width: 40px;
	height: 40px;
	flex: none;
	order: 0;
	flex-grow: 0;
}

.toDoAmountData {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 0px;
	width: fit-content;
	height: 73px;
	flex: none;
	order: 1;
	flex-grow: 0;
}

#toDoAmountTasks,
#toDoDoneAmountTasks {
	width: fit-content;
	height: 56px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 600;
	font-size: 47px;
	line-height: 120%;
	text-align: center;
	color: #000000;
	flex: none;
	order: 0;
	flex-grow: 0;
}

#toDoAmountP,
#toDoDoneAmountP {
	display: flex;
	justify-content: center;
	width: 40px;
	height: 17px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 120%;
	color: #2a3647;
	flex: none;
	order: 1;
	flex-grow: 0;
}

.toDoHoverSpanP {
	color: white !important;
}

.toDoHover,
.toDoDoneHover {
	background: #2a3647;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#toDo:hover,
#toDoDone:hover {
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	background: #2a3647;
}

/* logOutBar */
.logOutMasterContainer {
	position: absolute;
	top: 85px;
	left: 268px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 10px;
	width: 130px;
	height: 119px;
	background: #2a3647;
	box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
	border-radius: 20px 0px 20px 20px;
}

.logOutNav {
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 110px;
	height: 32%;
	flex: none;
	order: 0;
	flex-grow: 0;
	cursor: pointer;
}

.logOutNav span {
	width: 94px;
	height: 17px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 120%;
	color: #cdcdcd !important;
	padding-left: 10px;
	flex: none;
	order: 0;
	flex-grow: 0;
}

/*  */


.greetingMasterContainer {
	position: relative;
	width: 428px;
	height: 926px;
	background: #F6F7F8;
	top: 90px;
	animation:greetMove 3s;
	animation-delay: 3s;

}

@keyframes greetMove{
	for{
		opacity: 1;
	}
	to{
		opacity: 0;
		display: none;
	}
}

.greetContainerMob {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 0px;
	gap: 3px;
	position: absolute;
	width: 274px;
	height: 102px;
	left: 78px;
	top: 300px;
}

#greetUser {
	width: 252px;
	height: 43px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 36px;
	line-height: 120%;
	color: #2A3647;
	text-align: center;
	flex: none;
	order: 0;
	flex-grow: 0;
}

.greetUserName {
	width: 274px;
	height: 56px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 700;
	font-size: 47px;
	line-height: 120%;
	color: #29ABE2;
	text-align: center;
	flex: none;
	order: 1;
	flex-grow: 0;
}