.summaryContainer {
	display: flex;
	flex-direction: column;
	padding: 82px 53px 16px 123px;
	width: fit-content;
	height: 100%;
	max-height: 768px;
	justify-content: space-between;
}

.summaryContainerLeft {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.title {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	padding: 0px;
	gap: 30px;
	/* position: absolute; */
	width: fit-content;
	height: 73px;
	/* left: 355px; */
	top: 171px;
}

.title h3 {
	display: flex;
	align-items: center;
	width: fit-content;
	height: 73px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 700;
	font-size: 61px;
	/* line-height: 120%; */
	color: #000000;
	flex: none;
	order: 0;
	flex-grow: 0;
}

.title img {
	width: 0px;
	height: 59px;
	border: 3px solid #29abe2;
}

.title h4 {
	width: 304px;
	height: 32px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 26px;
	line-height: 120%;
	color: #2a3647;
	flex: none;
	order: 2;
	flex-grow: 0;
}

.summaryMain {
	display: flex;
	gap: 67px;
}

.welcome {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	padding: 0px;
	gap: 3px;
	/* position: absolute; */
	width: 385px;
	height: 136px;
	left: 770px;
	top: 533px;
}

.welcome h4 {
	width: 338px;
	height: 56px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 500;
	font-size: 47px;
	line-height: 120%;
	color: #2a3647;
	margin-block-start: 0;
	margin-block-end: 0;
	flex: none;
	order: 0;
	flex-grow: 0;
}

.welcome h3 {
	width: 385px;
	height: 77px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 700;
	font-size: 36px; /* 64px  */
	line-height: 120%;
	color: #29abe2;
	margin-block-start: 0;
	margin-block-end: 0;
	flex: none;
	order: 1;
	flex-grow: 0;
}

.overview {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 0px;
	gap: 35px;
	width: 580px;
	height: 540px;
}

.taskOverview {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	padding: 0px;
	gap: 35px;
	width: 580px;
	height: 170px;
	flex: none;
	order: 0;
	flex-grow: 0;
}

#taskInBoard,
#taskInProgress,
#awaitingFeedback {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 25px 0px;
	gap: 13px;
	width: 170px;
	height: 170px;
	background: #ffffff;
	box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
	border-radius: 30px;
	flex: none;
	order: 2;
	flex-grow: 0;
}

#taskInBoard:hover,
#taskInProgress:hover,
#awaitingFeedback:hover {
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	background: #2a3647;
}

#taskInBoard:hover *,
#taskInProgress:hover *,
#awaitingFeedback:hover * {
	color: white;
}

#taskInBoardAmount,
#taskInProgressAmount,
#awaitingFeedbackAmount {
	width: 41px;
	height: 77px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 600;
	font-size: 64px;
	line-height: 120%;
	text-align: center;
	color: #000000;
	flex: none;
	order: 0;
	flex-grow: 0;
	display: flex;
	justify-content: center;
}

#taskInBoard p,
#taskInProgress p,
#awaitingFeedback p {
	width: 87px;
	height: 50px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 21px;
	line-height: 120%;
	text-align: center;
	color: #2a3647;
	flex: none;
	order: 1;
	flex-grow: 0;
	margin-block-start: 0px;
	margin-block-end: 0px;
}

.ugencySummary {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 28px 48px;
	gap: 61px;
	width: 580px;
	height: 150px;
	background: #ffffff;
	box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
	border-radius: 30px;
	flex: none;
	order: 1;
	flex-grow: 0;
}

.ugencySummary:hover {
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	background: #2a3647;
}

.ugent {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 0px;
	gap: 18px;
	width: 130px;
	height: 75px;
	flex: none;
	order: 0;
	flex-grow: 0;
}

.ugentImgContainer {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 0px;
	gap: 10px;
	width: 60px;
	height: 60px;
	flex: none;
	order: 0;
	flex-grow: 0;
}

.ugentImg {
	width: 60px;
	height: 60px;
	flex: none;
	order: 0;
	flex-grow: 0;
}

.ugentAmount {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 0px;
	width: 52px;
	height: 75px;
	flex: none;
	order: 1;
	flex-grow: 0;
}

.ugentAmount span {
	width: 50px;
	height: 56px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 600;
	font-size: 47px;
	line-height: 120%;
	text-align: center;
	color: #000000;
	flex: none;
	order: 0;
	flex-grow: 0;
}

.ugentAmount p {
	width: 52px;
	height: 19px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 120%;
	color: #2a3647;
	flex: none;
	order: 1;
	flex-grow: 0;
	margin-block-start: 0px;
	margin-block-end: 0px;
}

.ugentVerticalLine {
	width: 0px;
	height: 102.02px;
	border: 2px solid #d1d1d1;
	flex: none;
	order: 1;
	flex-grow: 0;
}

.deadlineData {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 0px;
	width: 178px;
	height: 57px;
	flex: none;
	order: 2;
	flex-grow: 0;
}

#deadlineDate {
	width: max-content;
	height: 25px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 700;
	font-size: 21px;
	line-height: 120%;
	color: #2a3647;
	flex: none;
	order: 0;
	flex-grow: 0;
	margin-block-start: 0px;
	margin-block-end: 0px;
}

.deadlineText {
	width: 170px;
	height: 19px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 120%;
	color: #2a3647;
	flex: none;
	order: 1;
	flex-grow: 0;
	color: red;
}

.toDoData {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 0px;
	gap: 35px;
	width: 580px;
	height: 150px;
	flex: none;
	order: 2;
	flex-grow: 0;
}

.toDo,
.toDoDone {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 38px 19px;
	gap: 18px;
	width: 272.5px;
	height: 150px;
	background: #ffffff;
	box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
	border-radius: 30px;
	flex: none;
	order: 0;
	flex-grow: 0;
}

.toDoHover,
.toDoDoneHover {
	background: #2a3647;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.toDoHoverSpanP {
	color: white !important;
}

.toDo img,
.toDoDone img {
	width: 69px;
	height: 69px;
}

.toDoAmountData {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0px;
	width: fit-content;
	height: 102px;
	flex: none;
	order: 1;
	flex-grow: 0;
}

.toDoAmountData span {
	width: fit-content;
	height: 77px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 600;
	font-size: 64px;
	line-height: 120%;
	text-align: center;
	color: #000000;
	flex: none;
	order: 0;
	flex-grow: 0;
}

.toDoAmountData p {
	width: 60px;
	height: 25px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 21px;
	line-height: 120%;
	color: #2a3647;
	flex: none;
	order: 1;
	flex-grow: 0;
	margin-block-start: 0px;
	margin-block-end: 0px;
}

.summaryContainerRight {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 385px;
}

.ugencySummary:hover span,
.ugencySummary:hover p,
.ugencySummary:hover b,
.toDo:hover,
.toDo:hover span,
.toDo:hover p,
.toDoDone:hover,
.toDoDone:hover span,
.toDoDone:hover p {
	color: white !important;
	background-color: #2a3647;
}

/* display: flex;
justify-content: center;
 */

@media screen and (max-height: 856px) {
	.summaryContainer {
		padding: 16px 53px 16px 16px;
	}
}

@media screen and (max-width: 1440px) {
	/* Summary */

	.welcome {
		left: 600px;
	}

	.title {
		left: 22% !important;
	}

	.overview {
		left: 22% !important;
	}
}

@media screen and (max-width: 1100px) {
	.title h3 {
		font-size: 50px;
	}

	.summaryContainerRight {
		display: none;
	}

	.summaryContainer {
		display: flex;
		align-items: center;
		padding: 82px 53px 16px 53px;
		width: 100vw;
	}
}

@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 950px) {
	.title {
		left: 8% !important;
	}

	.overview {
		left: 8% !important;
	}
}
