.title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 30px;
    position: absolute;
    width: 679px;
    height: 73px;
    left: 355px;
    top: 171px;
}

.title h3 {
    width: 315px;
    height: 73px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 61px;
    line-height: 120%;
    color: #000000;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.title img {
    width: 0px;
    height: 59px;
    border: 3px solid #29ABE2;
}

.title h4 {
    width: 304px;
    height: 32px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 120%;
    color: #2A3647;
    flex: none;
    order: 2;
    flex-grow: 0;
}

.welcome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
    gap: 3px;
    position: absolute;
    width: 385px;
    height: 136px;
    left: 1002px;
    top: 533px;
}

.welcome h4 {
    width: 338px;
    height: 56px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 47px;
    line-height: 120%;
    color: #2A3647;
    margin-block-start: 0;
    margin-block-end: 0;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.welcome h3 {
    width: 385px;
    height: 77px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 120%;
    color: #29ABE2;
    margin-block-start: 0;
    margin-block-end: 0;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.overview {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 35px;
    position: absolute;
    width: 580px;
    height: 540px;
    left: 355px;
    top: 331px;
}

.taskOverview {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 35px;
    width: 580px;
    height: 170px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

#taskInBoard,
#taskInProgress,
#awaitingFeedback {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px 0px;
    gap: 13px;
    width: 170px;
    height: 120px;
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    flex: none;
    order: 2;
    flex-grow: 0;
}

#taskInBoard:hover,
#taskInProgress:hover,
#awaitingFeedback:hover {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background: #2A3647;
}

#taskInBoard:hover *,
#taskInProgress:hover *,
#awaitingFeedback:hover *{
    color: white;
}

#taskInBoardAmount,
#taskInProgressAmount,
#awaitingFeedbackAmount {
    width: 41px;
    height: 77px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 120%;
    text-align: center;
    color: #000000;
    flex: none;
    order: 0;
    flex-grow: 0;
}

#taskInBoard p,
#taskInProgress p,
#awaitingFeedback p {
    width: 87px;
    height: 50px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 120%;
    text-align: center;
    color: #2A3647;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin-block-start: 0px;
    margin-block-end: 0px;
}

.ugencySummary {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 28px 48px;
    gap: 61px;
    width: 484px;
    height: 94px;
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.ugencySummary:hover {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.ugent {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 18px;
    width: 130px;
    height: 75px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.ugentImgContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 10px;
    width: 60px;
    height: 60px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.ugentImg {
    width: 60px;
    height: 60px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.ugentAmount {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    width: 52px;
    height: 75px;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.ugentAmount span {
    width: 50px;
    height: 56px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 47px;
    line-height: 120%;
    text-align: center;
    color: #000000;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.ugentAmount p {
    width: 52px;
    height: 19px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: #2A3647;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin-block-start: 0px;
    margin-block-end: 0px;
}

.ugentVerticalLine {
    width: 0px;
    height: 102.02px;
    border: 2px solid #D1D1D1;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.deadlineData {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 13px;
    width: 178px;
    height: 57px;
    flex: none;
    order: 2;
    flex-grow: 0;
}

#deadlineDate {
    width: 178px;
    height: 25px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 120%;
    color: #2A3647;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin-block-start: 0px;
    margin-block-end: 0px;
}

.deadlineText {
    width: 148px;
    height: 19px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: #2A3647;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.toDoData {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 35px;
    width: 580px;
    height: 150px;
    flex: none;
    order: 2;
    flex-grow: 0;
}

.toDo,
.toDoDone {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 38px 19px;
    gap: 18px;
    width: 234.5px;
    height: 74px;
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    flex: none;
    order: 0;
    flex-grow: 0;
    cursor: pointer;
}

.toDoHover ,
.toDoDoneHover {
    background: #2A3647;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.toDoHoverSpanP{
    color: white !important;
}

.toDo img,
.toDoDone img {
    width: 69px;
    height: 69px;
}

.toDoAmountData {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    width: 60px;
    height: 102px;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.toDoAmountData span {
    width: 31px;
    height: 77px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 120%;
    text-align: center;
    color: #000000;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.toDoAmountData p {
    width: 60px;
    height: 25px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 120%;
    color: #2A3647;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin-block-start: 0px;
    margin-block-end: 0px;
}